    
        <div class="w1520">
            <div class="contact-wrap">
                <div class="main-wrap f-cb">
                    <div class="fl city-list">
                        <ul>
                            {{foreach from=$address item=rs}}
                            <li>{{$rs.city}}</li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <div class="fl address">
                        <h4>Contact</h4>
                        <div class="cont">
                            {{foreach from=$address item=rs}}
                            <div class="boxs">
                                <p><span class="stt">ADD</span>:{{$rs.address}}</p>
                                <p class="stt">TEL:{{$rs.tel}}</p>
                                <a class="link-map" href="{{$rs.map_link}}" target="_blank"></a>
                            </div>
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="fl weixin">
                        <h4>Wechat</h4>
                        <div class="wx-img"><img src="{{$uploadpath}}setting/{{$setting.wechat}}" alt=""></div>
                    </div>
                    <div class="fl advis">
                        <h4>Advisory</h4>
                        <div class="link-qq">
                            <a href="{{$setting.businessqq}}" target="_blank">业务咨询</a>
                            <a href="{{$setting.serviceqq}}" target="_blank">售后服务</a>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="main-wrap">
                    <div class="top-wrap f-cb">
                        <div class="fl nav">
                            <a href="/service">智慧服务</a><span class="line"></span>
                            <a href="/interact">互动开发</a><span class="line"></span>
                            <a href="/about">关于我们</a><span class="line"></span>
                            <a href="/cooperate" target="_blank">投资合作</a><span class="line"></span>
                            <a href="/payment" target="_blank">付款方式</a>
                        </div>
                    </div>
                    <div class="bot-wrap f-cb">
                        <p class="fl">{{$setting.copyright}}  <a href="http://www.miitbeian.gov.cn" target="_blank">{{$setting.miitbeian}}</a>　　</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- <div class="return-top">
            <span class="top-btn">TOP</span>
            <a class="link-qq" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODAyNTk2Nl8yOTI4MzhfNDAwODAwNTc5MF8yXw" target="_blank"></a>
        </div> -->
        <div class="float-right-box on">
            <div class="top-list">
                <ul>
                    <!-- <li>
                        <a class="f-cb" href="http://p.qiao.baidu.com/cps/chat?siteId=10373167&userId=1029235" target="_blank">
                            <span class="fl stt">在线咨询</span>
                            <span class="ico ico1"></span>
                        </a>
                    </li> -->
                    <li>
                        <a class="f-cb" href="{{$setting.businessqq}}" target="_blank">
                            <span class="fl stt">业务咨询</span>
                            <span class="ico ico2"></span>
                        </a>
                    </li>
                    <li>
                        <a class="f-cb" href="{{$setting.serviceqq}}" target="_blank">
                            <span class="fl stt">售后服务</span>
                            <span class="ico ico3"></span>
                        </a>
                    </li>
                    <!-- <li>
                        <a class="f-cb" href="http://www.bocmof.cn/" target="_blank">
                            <span class="fl stt">经济型网站</span>
                            <span class="ico ico4"></span>
                        </a>
                    </li> -->
                    <li>
                        <a class="f-cb return-webtop" href="javascript:;">
                            <span class="fl stt">TOP</span>
                            <span class="ico ico5"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--
            <div class="bot-share f-cb">
                <div class="fl share bdsharebuttonbox">
                    <a class="sina" data-cmd="tsina" href="javascript:;" title=" "></a>
                    <a class="wx" data-cmd="weixin" href="javascript:;" title=" "></a>
                    <a class="tx" data-cmd="tqq" href="javascript:;" title=" "></a>
                    <a class="more" data-cmd="more" href="javascript:;" title=" "></a>
                </div>
                <span class="fr share-ico"></span>
            </div>
            -->
        </div>

        <script>
            $(function () {
                $(".return-webtop").on('click', function () {
                    $("body,html").stop().animate({ scrollTop: 0 }, 500);
                });
            })
        </script>

    </div>
    <script src="/static/web/js/main.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/web/js/banner.js?v=v3" type="text/javascript" charset="utf-8"></script>
</body>
</html>