<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-language" content="zh-CN" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="Keywords" content="{{$setting.keywords}}" />
    <meta name="Description" content="{{$setting.description}}" />
    <meta name="author" content="{{$setting.author}}" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title> {{$setting.name}}-{{$page.title}} </title>
    <link href="{{$uploadpath}}setting/{{$setting.fav}}" rel="shortcut icon">
    <script>
        var STATIC_URL = "/static/";
        var GLOBAL_URL = "/";
        var UPLOAD_URL = "{{$uploadpath}}";
        var SITE_URL = "/";
    </script>
    <link rel="stylesheet" href="/static/web/css/reset.css?v=v3" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/web/css/style.css?v=v3" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/web/css/mobile.css?v=v3" type="text/css" media="screen" charset="utf-8">
    <script src="/static/js/jquery-1.11.3.min.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.easing.1.3.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery.transit.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/html5.min.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bocfe.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/plug.preload.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/web/js/smooth.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/web/js/jquery.mousewheel.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <script src="/static/m/swiper/swiper-3.4.0.jquery.min.js?v=v3" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/m/swiper/swiper.css?v=v3" type="text/css" media="screen" charset="utf-8"><!--<![endif]-->
</head>

<body>
    <header>
        <div class="header-main">
            <div class="w1520 f-cb">
                <a class="logo fl" href="/"><img src="{{$uploadpath}}setting/{{$setting.logo}}" alt=""></a>
                <!--
                <div class="fr extra-link">
                    <a class="link1" href="http://www.bocweb.cn/rhythm.html"></a>
                    <a class="link2" href="http://www.bocweb.cn/vr.html"></a>
                    <a class="link3" href="http://www.bocweb.cn/news.html"></a>
                    <a class="link4 search-ico" href="javascript:;"></a>
                </div>
                -->
                <div class="fr nav-link">
                    <div class="nav f-cb">
                        <span class="fl extra-nav">{{$setting.slogan}}</span>
                        <span class="fl line"></span>
                        <ul class="fl">
                            <li class="sub-li"><a href="/about">{{$aboutconfig.name}}</a></li>
                            {{if $productconfig.is_active=="Y"}}
                            <li class="sub-li"><a href="/product">{{$productconfig.name}}</a></li>
                            {{/if}}
                            <li class="sub-li"><a href="/service">{{$serviceconfig.name}}</a></li>
                            {{if $newsconfig.is_active=="Y"}}
                            <li class="sub-li"><a href="/news">{{$newsconfig.name}}</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="m-btn fr">
                    <span class="box">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </span>
                </div>
            </div>
        </div>
    </header>
    <div class="m-sub-menu">
        <div class="top-box f-cb">
            <span class="fl stt">菜单</span>
            <span class="fr close"></span>
        </div>
        <div class="list-wrap">
            <ul>
                <li>
                    {{if $aboutconfig.category_count>0}}
                    <span class="col-box f-cb">
                        <span class="fl tit">{{$aboutconfig.name}}</span>
                        <span class="fr point"></span>
                    </span>
                    {{else}}
                    <a class="col-box" href="/about"><span class="tit">{{$aboutconfig.name}}</span></a>
                    {{/if}}
                </li>
                {{if $productconfig.is_active=="Y"}}
                {{if $productconfig.category_count>1}}
                <li>
                    <span class="col-box f-cb">
                        <span class="fl tit">{{$productconfig.name}}</span>
                        <span class="fr point"></span>
                    </span>
                </li>
                {{else}}
                <li>
                    <a class="col-box" href="/product"><span class="tit">{{$productconfig.name}}</span></a>
                </li>
                {{/if}}
                {{/if}}
                <li>
                    {{if $aboutconfig.category_count>0}}
                    <span class="col-box f-cb">
                        <span class="fl tit">{{$serviceconfig.name}}</span>
                        <span class="fr point"></span>
                    </span>
                    {{else}}
                    <a class="col-box" href="/service"><span class="tit">{{$serviceconfig.name}}</span></a>
                    {{/if}}
                </li>
                {{if $newsconfig.is_active=="Y"}}
                {{if $newsconfig.category_count>1}}
                <li>
                    <span class="col-box f-cb">
                        <span class="fl tit">{{$newsconfig.name}}</span>
                        <span class="fr point"></span>
                    </span>
                </li>
                {{else}}
                <li>
                    <a class="col-box" href="/product"><span class="tit">{{$newsconfig.name}}</span></a>
                </li>
                {{/if}}
                {{/if}}
            </ul>
        </div>
        <div class="sec-sub-list">
            <div class="boxs">
                <span class="return-fir"><p>{{$aboutconfig.name}}</p></span>
                <ul>
                    {{foreach from=$aboutconfig.category item=rs}}
                    <li><a href="/about/{{$rs.markcode}}">{{$rs.name}}</a></li>
                    {{/foreach}}
                </ul>
            </div>
            {{if $productconfig.is_active=="Y"&&$productconfig.category_count>1}}
            <div class="boxs">
                <span class="return-fir"><p>{{$productconfig.name}}</p></span>
                <ul>
                    {{foreach from=$productconfig.category item=rs}}
                    <li><a href="/productcat/{{$rs.markcode}}">{{$rs.name}}</a></li>
                    {{/foreach}}
                </ul>
            </div>
            {{/if}}
            <div class="boxs">
                <span class="return-fir"><p>{{$serviceconfig.name}}</p></span>
                <ul>
                    {{foreach from=$serviceconfig.category item=rs}}
                    <li><a href="/service/{{$rs.markcode}}">{{$rs.name}}</a></li>
                    {{/foreach}}
                </ul>
            </div>
            {{if $newsconfig.is_active=="Y"&&$newsconfig.category_count>1}}
            <div class="boxs">
                <span class="return-fir"><p>{{$newsconfig.name}}</p></span>
                <ul>
                    {{foreach from=$newsconfig.category item=rs}}
                    <li><a href="/news/{{$rs.markcode}}">{{$rs.name}}</a></li>
                    {{/foreach}}
                </ul>
            </div>
            {{/if}}
        </div>
    </div>
    {{if $submenu_count > 0}}
    <div class="ins-nav">
        <div class="w1520">
            <ul>
                {{foreach from=$submenu item=rs}}
                <li  {{if $submenu_code==$rs.markcode}}class="hover"{{/if}}><a href="/{{$menumodule}}/{{$rs.markcode}}">{{$rs.name}}</a><i></i></li>
                {{/foreach}}
            </ul>
        </div>
    </div>
    {{/if}}
    
    
    <div class="body-wrap">