{{include  file="$smarty_root/header.html" }}

        <div class="i-ban banner">
            <ul>
                {{foreach from=$indexbanner item=rs}}
                <li class='video' style="background: url({{$uploadpath}}banner/{{$rs.pic}}) no-repeat center;" data-img="{{$uploadpath}}banner/{{$rs.pic}}">
                    {{if $rs.mp4!=""}}
                    <span class="gray-bg"></span>
                    <video class="video-sign" id="i-ban-video" loop="" preload="load" muted="muted" src="{{$uploadpath}}indexbanner/{{$rs.mp4}}"></video>
                    {{/if}}
                    <div class="cent-cont">
                        <div class="word">
                            {{foreach from=$rs.content item=rss}}
                            <p>
                                <span class="font-sign"> {{$rss}} </span>
                            </p>
                            {{/foreach}}
                            <span class="link"><span class="bg"></span><i></i></span>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
            <div class="btns"></div>
            <div class="loader"></div>
        </div>

        <div class="i-m-ban">
            <ul class="swiper-wrapper">
                {{foreach from=$indexbanner item=rs}}
                <li class="swiper-slide" style="background: url({{$uploadpath}}banner/{{$rs.pic}}) no-repeat center;" data-img="{{$uploadpath}}banner/{{$rs.pic}}">
                    <div class="cent-cont">
                        <div class="word">
                            {{foreach from=$rs.content item=rss}}
                            <p>
                                <span class="font-sign"> {{$rss}} </span>
                            </p>
                            {{/foreach}}
                            <span class="link"><span class="bg"></span><i></i></span>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
            <div class="page-btns"></div>
        </div>

        <div class="w1520">
            <div class="i-fir-wrap i-wrap f-cb mginb-16">
                <div class="fr right-wrap">
                    <div class="about-recom">
                        <div class="cont">
                            <p class="stit">{{$aboutconfig.title}}</p>
                            <span class="font"> <p>{{$aboutconfig.summary}}</p> </span>
                            <a class="bot-link f-cb" href="/about" target="_blank">
                                <span class="fl">About us</span>
                                <span class="fr point"></span>
                            </a>
                        </div>
                    </div>
                    <a class="img-box" href="/about">
                        <img src="{{$uploadpath}}serviceconfig/{{$serviceconfig.image}}" alt="{{$serviceconfig.name}}">
                        <div class="up-graybox">
                            <span class="bgbox"></span>
                            <p class="stit">
                                <span class="line linet"></span>
                                查看更多
                                <span class="line lineb"></span>
                            </p>
                            <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                        </div>
                    </a>
                </div>
                <div class="fl left-wrap">
                    <div class="cent-cont i-column-wrap black">
                        <p class="stit"><a href="/service">{{$serviceconfig.name}}</a></p>
                        <span class="line"></span>
                        <p><span class="mtit"><a>{{$serviceconfig.title}}</a></span> <span class="font"><a>{{$serviceconfig.summary}}</a></span></p>						<a class="link" href="/service"><span class="bg"></span><i></i></a>
                    </div>
                    <div class="num-box">
                        <span class="num">
                            <!-- <img src="/static/web/img/ico_33_h.png?v=v3" alt=""> -->
                            <p>Service</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="i-sec-wrap i-wrap f-cb mginb-16">
                <a class="fl img-box" href="{{$page.ad1_link}}">
                    <img src="{{$uploadpath}}indexpage/{{$page.ad1_pic}}" >
                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <p class="stit">
                            <span class="line linet"></span>
                            查看更多
                            <span class="line lineb"></span>
                        </p>
                        <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                    </div>
                </a>
                <div class="fr right-cont i-column-wrap white">
                    <p class="stit"><a href="{{$page.ad1_link}}">{{$page.ad1_name}}</a></p>
                    <span class="line"></span>
                    <p class="mtit"><a>{{$page.ad_title}}</a></p><p><span class="font">{{$page.ad1_summary}}</span></p>					<a class="link" href="{{$page.ad1_link}}"><span class="bg"></span><i></i></a>
                </div>
            </div>
            {{if $productconfig.is_active=="Y"}}
            <div class="i-thi-wrap i-wrap mginb-16">
                <div class="main-wrap">
                    <div class="tit-box">
                        <h4>{{$productconfig.name}}</h4>
                        <p class="intr">{{$productconfig.title}}</p>
                    </div>
                    {{if $productconfig.category_count>1}}
                    <div class="nav-box f-cb">
                        <div class="fl left-link">
                            <span class="all">ALL</span>
                            {{foreach from=$productconfig.category item=rs}}
                            <a class="type-link"  href="/product/{{$rs.markcode}}" target="_blank">{{$rs.name}}</a>
                            {{/foreach}}
                        </div>
                        <a class="fr more" href="/product" target="_blank">Read more</a>
                    </div>
                    {{/if}}
                    <div class="list-wrap">
                        <div class="pc-scroll">
                            <ul>
                                {{foreach from=$product item=rs}}
                                <li>
                                    <a class="img" href="/product/{{$rs.id}}">
                                        <img class="bgimg" width="100%" src="/static/web/img/bg_02.png?v=v3" alt="">
                                        <img class="up-pic" src="{{$uploadpath}}product/{{$rs.thumbnail}}" alt="{{$rs.name}}">
                                        <div class="up-graybox">
                                            <span class="bgbox"></span>
                                            <p class="stit">
                                                <span class="line linet"></span>
                                                查看项目
                                                <span class="line lineb"></span>
                                            </p>
                                            <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                                        </div>
                                    </a>
                                    <div class="cont-wrap">
                                        <p class="tit"><a href="/product/{{$rs.id}}">{{$rs.name}}</a></p>
                                        <span class="intr">
                                            {{$productconfig.name}} /	{{$rs.category_id_name}}
                                        </span>
                                        <a class="bot-link f-cb" href="/product/{{$rs.id}}">
                                            <span class="fl stt">Details</span>
                                            <span class="fr point"></span>
                                        </a>
                                    </div>
                                </li>
                                {{/foreach}}
                            </ul>
                        </div>
                        <div class="mobile-scroll">
                            <ul class="swiper-wrapper">
                                {{foreach from=$product item=rs}}
                                <li class="swiper-slide">
                                    <a class="img" href="/product/{{$rs.id}}">
                                        <img class="bgimg" width="100%" src="/static/web/img/bg_02.png?v=v3" alt="">
                                        <img class="up-pic" src="{{$uploadpath}}product/{{$rs.thumbnail}}" alt="{{$rs.name}}">
                                    </a>
                                    <div class="cont-wrap">
                                        <p class="tit"><a href=/product/{{$rs.id}}">{{$rs.name}}</a></p>
                                        <span class="intr">
                                            {{$productconfig.name}} /	{{$rs.category_id_name}}
                                        </span>
                                        <a class="bot-link f-cb" href="/product/{{$rs.id}}">
                                            <span class="fl stt">Details</span>
                                            <span class="fr point"></span>
                                        </a>
                                    </div>
                                </li>
                                {{/foreach}}
                            </ul>
                            <div class="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="i-fou-wrap i-wrap f-cb mginb-16">
                <a class="fr img-box" href="{{$page.ad2_link}}">

                    <img src="{{$uploadpath}}indexpage/{{$page.ad2_pic}}" alt="{{$page.ad2_name}}">

                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <p class="stit">
                            <span class="line linet"></span>
                            查看更多
                            <span class="line lineb"></span>
                        </p>
                        <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                    </div>
                </a>
                <div class="fl cont-wrap i-column-wrap white">
                    <p class="stit"><a href="{{$page.ad2_link}}">{{$page.ad2_name}}</a></p>
                    <span class="line"></span>
                    <p class="mtit"><a>{{$page.ad2_title}}</a></p><p><span class="font">{{$page.ad2_summary}}</span></p>					<a class="link" href="{{$page.ad2_link}}"><span class="bg"></span><i></i></a>
                </div>
            </div>
            <div class="i-fiv-wrap i-wrap mginb-16">
                <ul>
                    <li>
                        <a class="img" href="{{$page.ad3_link}}">
                            <img class="bgimg" width="100%" src="/static/web/img/bg_01.png?v=v3" alt="">
                            <img class="up-pic" src="{{$uploadpath}}indexpage/{{$page.ad3_pic}}" alt="{{$page.ad3_name}}">
                            <!-- <video class="up-pic video-lab" id="hudong-video" loop="" muted="muted" src="/static/m/video/互动开发_clip.mp4?v=v3"></video> -->
                            <div class="up-graybox">
                                <span class="bgbox"></span>
                                <p class="stit">
                                    <span class="line linet"></span>
                                    查看更多
                                    <span class="line lineb"></span>
                                </p>
                                <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                            </div>
                        </a>
                        <div class="cont-wrap">
                            <div class="cont">
                                <p class="tit"><a href="{{$page.ad3_link}}">{{$page.ad3_name}}</a></p>
                                <span class="intr">
                                    <a href="javascript:;"> <p>{{$page.ad3_title}}</p> </a>
                                </span>
                                <div class="bot-link f-cb">
                                    <div class="fl link">
                                        {{$page.ad3_summary}}
                                    </div>
                                    <a class="fr point" href="{{$page.ad3_link}}"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img" href="{{$page.ad4_link}}">
                            <img class="bgimg" width="100%" src="/static/web/img/bg_01.png?v=v3" alt="">
                            <img class="up-pic" src="{{$uploadpath}}indexpage/{{$page.ad4_pic}}" alt="{{$page.ad4_name}}">

                            <div class="up-graybox">
                                <span class="bgbox"></span>
                                <p class="stit">
                                    <span class="line linet"></span>
                                    查看更多
                                    <span class="line lineb"></span>
                                </p>
                                <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                            </div>
                        </a>
                        <div class="cont-wrap">
                            <div class="cont">
                                <p class="tit"><a href="{{$page.ad4_link}}">{{$page.ad4_name}}</a></p>
                                <span class="intr">
                                    <a href="{{$page.ad4_link}}"> <p>{{$page.ad4_title}}</p> </a>
                                </span>
                                <div class="bot-link f-cb">
                                    <div class="fl link">
                                        {{$page.ad4_summary}}
                                    </div>
                                    <a class="fr point" href="{{$page.ad4_link}}"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="i-sex-wrap i-wrap f-cb mginb-16">
                <a class="fl img-box" href="{{$page.ad5_link}}">
                    <img src="{{$uploadpath}}indexpage/{{$page.ad5_pic}}" alt="{{$page.ad5_name}}">

                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <p class="stit">
                            <span class="line linet"></span>
                            查看更多
                            <span class="line lineb"></span>
                        </p>
                        <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                    </div>
                </a>
                <div class="fr cont-wrap i-column-wrap white">
                    <p class="stit"><a href="{{$page.ad5_link}}">{{$page.ad5_name}}</a></p>
                    <span class="line"></span>
                    <p class="mtit"><a>{{$page.ad5_title}}</a></p><p><span class="font">{{$page.ad5_summary}}</span></p>					<a class="link" href="{{$page.ad5_link}}"><span class="bg"></span><i></i></a>
                </div>
            </div>
            {{if $newsconfig.is_active=="Y"}}
            <div class="i-sev-wrap i-wrap">
                <div class="main-wrap">
                    <div class="top-titbox f-cb">
                        <div class="fl">
                            <h4>{{$newsconfig.name}}</h4>
                            <span class="line"></span>
                            <span class="font">{{$newsconfig.summary}}</span>
                        </div>
                        <a class="fr more" href="/news" target="_blank">Read more</a>
                    </div>
                    <div class="list-wrap news-recommend-list pc-scroll fadeIntop">
                        <ul>
                            {{foreach from=$news item=rs}}
                            <li>
                                <a class="img" href="/news/{{$rs.id}}" target="_blank">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="{{$uploadpath}}news/{{$rs.thumbnail}}" alt="{{$rs.title}}">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="/news/{{$rs.id}}" target="_blank">{{$rs.title}}</a></p>
                                        <span class="word"><a href="/news/{{$rs.id}}" target="_blank">{{$rs.summary}}</a></span>
                                        <a class="bot-link f-cb" href="/news/{{$rs.id}}" target="_blank">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {{/foreach}}
                        </ul>
                    </div>
                    <div class="list-wrap news-recommend-list m-scroll">
                        <ul class="swiper-wrapper">
                            {{foreach from=$news item=rs}}
                            <li class="swiper-slide">
                                <a class="img" href="/news/{{$rs.id}}">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="{{$uploadpath}}news/{{$rs.thumbnail}}" alt="{{$rs.title}}">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="/news/{{$rs.id}}">{{$rs.title}}</a></p>
                                        <span class="word"><a href="/news/{{$rs.id}}">{{$rs.summary}}</a></span>
                                        <a class="bot-link f-cb" href="/news/{{$rs.id}}">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {{/foreach}}
                        </ul>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>
            {{/if}}
            <!-- index.js也要改
            <div class="i-eig-wrap i-wrap">
                <div class="main-wrap">
                    <div class="tit-box f-cb">
                        <div class="fl">
                            <p class="tit">媒介资源</p>
                            <span class="intr">优质数字媒介资源，涵盖各行各业</span>
                        </div>
                        <a class="fr more" href="http://www.bocweb.cn/digital/medium.html" target="_blank">Read more</a>
                    </div>
                    <div class="list-wrap">
                        <ul>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/01/18/148472222759230flrg.jpg" alt="Baidu百度">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/02/08/1486517717695crk6f.jpg" alt="淘宝网">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/02/08/1486517755411719q6t.jpg" alt="腾讯网">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/03/03/14885312152698hr6ug.jpg" alt="今日头条">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/02/08/14865176867448jd573.jpg" alt="小米网">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/03/03/14885311394442lrud5.jpg" alt="网易新闻">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            -->
        </div>



{{include  file="$smarty_root/footer.html" }}

<script src="/static/web/js/index.js" type="text/javascript" charset="utf-8"></script>