{{include  file="$smarty_root/header.html" }}

        <div class="i-ban banner">
            <ul>
                {{foreach from=$indexbanner item=rs}}
                <li class='video' style="background: url({{$uploadpath}}banner/{{$rs.pic}}) no-repeat center;" data-img="{{$uploadpath}}banner/{{$rs.pic}}">
                    {{if $rs.mp4!=""}}
                    <span class="gray-bg"></span>
                    <video class="video-sign" id="i-ban-video" loop="" preload="load" muted="muted" src="{{$uploadpath}}indexbanner/{{$rs.mp4}}"></video>
                    {{/if}}
                    <div class="cent-cont">
                        <div class="word">
                            {{foreach from=$rs.content item=rss}}
                            <p>
                                <span class="font-sign"> {{$rss}} </span>
                            </p>
                            {{/foreach}}
                            <span class="link"><span class="bg"></span><i></i></span>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
            <div class="btns"></div>
            <div class="loader"></div>
        </div>

        <div class="i-m-ban">
            <ul class="swiper-wrapper">
                {{foreach from=$indexbanner item=rs}}
                <li class="swiper-slide" style="background: url({{$uploadpath}}banner/{{$rs.pic}}) no-repeat center;" data-img="{{$uploadpath}}banner/{{$rs.pic}}">
                    <div class="cent-cont">
                        <div class="word">
                            {{foreach from=$rs.content item=rss}}
                            <p>
                                <span class="font-sign"> {{$rss}} </span>
                            </p>
                            {{/foreach}}
                            <span class="link"><span class="bg"></span><i></i></span>
                        </div>
                    </div>
                </li>
                {{/foreach}}
            </ul>
            <div class="page-btns"></div>
        </div>

        <div class="w1520">
            <div class="i-fir-wrap i-wrap f-cb mginb-16">
                <div class="fr right-wrap">
                    <div class="about-recom">
                        <div class="cont">
                            <p class="stit">{{$page.about_name}}</p>
                            <span class="font"> <p>{{$page.about_summary}}</p> </span>
                            {{if $page.about_email!=""}}
                            <a class="email" href="mailto:{{$page.about_email}}"><span class="bg"></span><i></i></a>
                            {{/if}}
                            <a class="bot-link f-cb" href="/about" target="_blank">
                                <span class="fl">About us</span>
                                <span class="fr point"></span>
                            </a>
                        </div>
                    </div>
                    <a class="img-box" href="/about">
                        <img src="{{$uploadpath}}indexpage/{{$page.about_pic}}" alt="">
                        <div class="up-graybox">
                            <span class="bgbox"></span>
                            <p class="stit">
                                <span class="line linet"></span>
                                查看更多
                                <span class="line lineb"></span>
                            </p>
                            <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                        </div>
                    </a>
                </div>
                <div class="fl left-wrap">
                    <div class="cent-cont i-column-wrap black">
                        <p class="stit"><a href="/service">{{$page.service_name}}</a></p>
                        <span class="line"></span>
                        <p><span class="mtit"><a>{{$page.service_title}}</a></span> <span class="font"><a>{{$page.service_summary}}</a></span></p>						<a class="link" href="/service"><span class="bg"></span><i></i></a>
                    </div>
                    <div class="num-box">
                        <span class="num">
                            <!-- <img src="/static/web/img/ico_33_h.png?v=v3" alt=""> -->
                            <p>Service</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="i-sec-wrap i-wrap f-cb mginb-16">
                <a class="fl img-box" href="{{$page.ad1_link}}">
                    <img src="{{$uploadpath}}indexpage/{{$page.ad1_pic}}" >
                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <p class="stit">
                            <span class="line linet"></span>
                            查看更多
                            <span class="line lineb"></span>
                        </p>
                        <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                    </div>
                </a>
                <div class="fr right-cont i-column-wrap white">
                    <p class="stit"><a href="{{$page.ad1_link}}">{{$page.ad1_name}}</a></p>
                    <span class="line"></span>
                    <p class="mtit"><a>{{$page.ad_title}}</a></p><p><span class="font">{{$page.ad1_summary}}</span></p>					<a class="link" href="{{$page.ad1_link}}"><span class="bg"></span><i></i></a>
                </div>
            </div>
            <div class="i-thi-wrap i-wrap mginb-16">
                <div class="main-wrap">
                    <div class="tit-box">
                        <h4>{{$productconfig.name}}</h4>
                        <p class="intr">{{$productconfig.title}}</p>
                    </div>
                    <div class="nav-box f-cb">
                        <div class="fl left-link">
                            <span class="all">ALL</span>
                            {{foreach from=$productconfig.category item=rs}}
                            <a class="type-link" style="background: url('{{$uploadpath}}productcategory/$rs.icon')" href="/product/{{$rs.markcode}}" target="_blank">{{$rs.name}}</a>
                            {{/foreach}}
                        </div>
                        <a class="fr more" href="/product" target="_blank">Read more</a>
                    </div>
                    <div class="list-wrap">
                        <div class="pc-scroll">
                            <ul>
                                {{foreach from=$product item=rs}}
                                <li>
                                    <a class="img" href="/product/{{$rs.id}}">
                                        <img class="bgimg" width="100%" src="/static/web/img/bg_02.png?v=v3" alt="">
                                        <img class="up-pic" src="{{$uploadpath}}product/{{$rs.thumbnail}}" alt="{{$rs.name}}">
                                        <div class="up-graybox">
                                            <span class="bgbox"></span>
                                            <p class="stit">
                                                <span class="line linet"></span>
                                                查看项目
                                                <span class="line lineb"></span>
                                            </p>
                                            <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                                        </div>
                                    </a>
                                    <div class="cont-wrap">
                                        <p class="tit"><a href="/product/{{$rs.id}}">{{$rs.name}}"</a></p>
                                        <span class="intr">
                                            {{$productconfig.name}} /	{{$rs.category_id_name}}
                                        </span>
                                        <a class="bot-link f-cb" href="/product/{{$rs.id}}">
                                            <span class="fl stt">Details</span>
                                            <span class="fr point"></span>
                                        </a>
                                    </div>
                                </li>
                                {{/foreach}}
                            </ul>
                        </div>
                        <div class="mobile-scroll">
                            <ul class="swiper-wrapper">
                                {{foreach from=$product item=rs}}
                                <li class="swiper-slide">
                                    <a class="img" href="/product/{{$rs.id}}">
                                        <img class="bgimg" width="100%" src="/static/web/img/bg_02.png?v=v3" alt="">
                                        <img class="up-pic" src="{{$uploadpath}}product/{{$rs.thumbnail}}" alt="{{$rs.name}}">
                                    </a>
                                    <div class="cont-wrap">
                                        <p class="tit"><a href=/product/{{$rs.id}}">{{$rs.name}}</a></p>
                                        <span class="intr">
                                            {{$productconfig.name}} /	{{$rs.category_id_name}}
                                        </span>
                                        <a class="bot-link f-cb" href="/product/{{$rs.id}}">
                                            <span class="fl stt">Details</span>
                                            <span class="fr point"></span>
                                        </a>
                                    </div>
                                </li>
                                {{/foreach}}
                            </ul>
                            <div class="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="i-fou-wrap i-wrap f-cb mginb-16">
                <a class="fr img-box" href="http://www.bocweb.cn/digital/figure.html ">

                    <img src="http://www.bocweb.cn/upload/2017/01/13/14842742942809rg3xb.jpg" alt="数字全案">

                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <p class="stit">
                            <span class="line linet"></span>
                            查看更多
                            <span class="line lineb"></span>
                        </p>
                        <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                    </div>
                </a>
                <div class="fl cont-wrap i-column-wrap white">
                    <p class="stit"><a href="http://www.bocweb.cn/digital/figure.html ">数字全案</a></p>
                    <span class="line"></span>
                    <p class="mtit"><a>“轻营销”助力线上转型 迅速达成效果转化</a></p><p><span class="font">博采网络全案数字营销服务，独创“轻营销”理念，利用自身全网资源、大数据精准营销、创意策略等...</span></p>					<a class="link" href="http://www.bocweb.cn/digital/figure.html "><span class="bg"></span><i></i></a>
                </div>
            </div>
            <div class="i-fiv-wrap i-wrap mginb-16">
                <ul>
                    <li>
                        <a class="img" href="javascript:;">
                            <img class="bgimg" width="100%" src="/static/web/img/bg_01.png?v=v3" alt="">
                            <img class="up-pic" src="http://www.bocweb.cn/upload/2017/01/18/148472885833824aqsq.jpg" alt="数据开发">
                            <!-- <video class="up-pic video-lab" id="hudong-video" loop="" muted="muted" src="/static/m/video/互动开发_clip.mp4?v=v3"></video> -->
                            <div class="up-graybox">
                                <span class="bgbox"></span>
                                <p class="stit">
                                    <span class="line linet"></span>
                                    查看更多
                                    <span class="line lineb"></span>
                                </p>
                                <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                            </div>
                        </a>
                        <div class="cont-wrap">
                            <div class="cont">
                                <p class="tit"><a href="javascript:;">数据开发</a></p>
                                <span class="intr">
                                    <a href="javascript:;"> <p>卓越的交互体验 为更广阔的移动营销而生</p> </a>
                                </span>
                                <div class="bot-link f-cb">
                                    <div class="fl link">
                                        <div class="li"><i></i><a href="javascript:;">有商</a></div>
                                        <div class="li"><i></i><a href="javascript:;">云客</a></div>
                                    </div>
                                    <a class="fr point" href="javascript:;"></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a class="img" href="http://www.bocweb.cn/digital/wechat.html">
                            <img class="bgimg" width="100%" src="/static/web/img/bg_01.png?v=v3" alt="">
                            <img class="up-pic" src="http://www.bocweb.cn/upload/2017/01/13/14842744491947acqoj.jpg" alt="H5">

                            <div class="up-graybox">
                                <span class="bgbox"></span>
                                <p class="stit">
                                    <span class="line linet"></span>
                                    查看更多
                                    <span class="line lineb"></span>
                                </p>
                                <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                            </div>
                        </a>
                        <div class="cont-wrap">
                            <div class="cont">
                                <p class="tit"><a href="http://www.bocweb.cn/digital/wechat.html ">H5</a></p>
                                <span class="intr">
                                    <a href="http://www.bocweb.cn/digital/wechat.html "> <p>通过精准的内容传达 促成与消费者的有效沟通</p> </a>
                                </span>
                                <div class="bot-link f-cb">
                                    <div class="fl link">
                                        <div class="li"><i></i><a href="http://www.bocweb.cn/digital/wechat/1.html ">地产</a></div>
                                        <div class="li"><i></i><a href="http://www.bocweb.cn/digital/wechat/2.html ">家电</a></div>
                                        <div class="li"><i></i><a href="http://www.bocweb.cn/digital/wechat/3.html ">金融</a></div>
                                    </div>
                                    <a class="fr point" href="http://www.bocweb.cn/digital/wechat.html "></a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="i-sex-wrap i-wrap f-cb mginb-16">
                <a class="fl img-box" href="http://www.bocweb.cn/digital/society.html ">
                    <img src="http://www.bocweb.cn/upload/2017/01/09/1483948341148qcr53.jpg" alt="社会化营销">

                    <div class="up-graybox">
                        <span class="bgbox"></span>
                        <p class="stit">
                            <span class="line linet"></span>
                            查看更多
                            <span class="line lineb"></span>
                        </p>
                        <span class="out-ico"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="25px" height="26px" viewBox="0 0 25 26" enable-background="new 0 0 25 26" xml:space="preserve"><path fill="#FFFFFF" d="M18.277,21.863H4.34V8.417l4.341-0.062V4.219H0V26h22.619V15.659h-4.342V21.863z M11.98,0l4.34,4.136  l-6.512,6.205l4.34,4.138l6.511-6.206L25,12.409V0H11.98z" /></svg></span>
                    </div>
                </a>
                <div class="fr cont-wrap i-column-wrap white">
                    <p class="stit"><a href="http://www.bocweb.cn/digital/society.html ">社会化营销</a></p>
                    <span class="line"></span>
                    <p class="mtit"><a>缔造人人参与的营销态势</a></p><p><span class="font">博采网络社会化营销服务，利用创意事件。数字信息、网络媒体，帮助企业实现，具有影响力的线上、线下社会化营销战略。</span></p>					<a class="link" href="http://www.bocweb.cn/digital/society.html "><span class="bg"></span><i></i></a>
                </div>
            </div>
            <div class="i-sev-wrap i-wrap">
                <div class="main-wrap">
                    <div class="top-titbox f-cb">
                        <div class="fl">
                            <h4>新闻动态</h4>
                            <span class="line"></span>
                            <span class="font">让价值共享 记录企业发展脚步</span>
                        </div>
                        <a class="fr more" href="http://www.bocweb.cn/news.html" target="_blank">Read more</a>
                    </div>
                    <div class="list-wrap news-recommend-list pc-scroll fadeIntop">
                        <ul>

                            <li>
                                <a class="img" href="http://www.bocweb.cn/news/info/16.html" target="_blank">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="http://www.bocweb.cn/upload/2017/05/19/14951914463771pvu36.jpg" alt="博采荣获国际 CSS Design Awards 最佳S.Kudos奖">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="http://www.bocweb.cn/news/info/16.html" target="_blank">博采荣获国际 CSS Design Awards 最佳S.Kudos奖</a></p>
                                        <span class="word"><a href="http://www.bocweb.cn/news/info/16.html" target="_blank">CSSDA-SPECIAL-KUDOS！博采新版官网荣获国际知名设计平台CSS De…</a></span>
                                        <a class="bot-link f-cb" href="http://www.bocweb.cn/news/info/16.html" target="_blank">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="img" href="http://www.bocweb.cn/news/info/7.html" target="_blank">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="http://www.bocweb.cn/upload/2017/01/19/14847940141093hmpda.jpg" alt="签约五粮醇酒业全年数字营销运营服务">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="http://www.bocweb.cn/news/info/7.html" target="_blank">签约五粮醇酒业全年数字营销运营服务</a></p>
                                        <span class="word"><a href="http://www.bocweb.cn/news/info/7.html" target="_blank">   四川省宜宾五粮液集团有限公司，坐落于万里长江第一城——中国白酒之都宜宾。前身是…</a></span>
                                        <a class="bot-link f-cb" href="http://www.bocweb.cn/news/info/7.html" target="_blank">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="img" href="http://www.bocweb.cn/news/info/6.html" target="_blank">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="http://www.bocweb.cn/upload/2017/02/27/14881746476775epdkf.jpg" alt="签约财通证券网络全案营销策划">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="http://www.bocweb.cn/news/info/6.html" target="_blank">签约财通证券网络全案营销策划</a></p>
                                        <span class="word"><a href="http://www.bocweb.cn/news/info/6.html" target="_blank">   财通证券股份有限公司（以下简称“公司”）前身是成立于1993年5月的浙江财政证券公…</a></span>
                                        <a class="bot-link f-cb" href="http://www.bocweb.cn/news/info/6.html" target="_blank">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                    <div class="list-wrap news-recommend-list m-scroll">
                        <ul class="swiper-wrapper">

                            <li class="swiper-slide">
                                <a class="img" href="http://www.bocweb.cn/news/info/16.html">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="http://www.bocweb.cn/upload/2017/05/19/14951914463771pvu36.jpg" alt="博采荣获国际 CSS Design Awards 最佳S.Kudos奖">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="http://www.bocweb.cn/news/info/16.html">博采荣获国际 CSS Design Awards 最佳S.Kudos奖</a></p>
                                        <span class="word"><a href="http://www.bocweb.cn/news/info/16.html">CSSDA-SPECIAL-KUDOS！博采新版官网荣获国际知名设计平台CSS De…</a></span>
                                        <a class="bot-link f-cb" href="http://www.bocweb.cn/news/info/16.html">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <a class="img" href="http://www.bocweb.cn/news/info/7.html">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="http://www.bocweb.cn/upload/2017/01/19/14847940141093hmpda.jpg" alt="签约五粮醇酒业全年数字营销运营服务">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="http://www.bocweb.cn/news/info/7.html">签约五粮醇酒业全年数字营销运营服务</a></p>
                                        <span class="word"><a href="http://www.bocweb.cn/news/info/7.html">   四川省宜宾五粮液集团有限公司，坐落于万里长江第一城——中国白酒之都宜宾。前身是…</a></span>
                                        <a class="bot-link f-cb" href="http://www.bocweb.cn/news/info/7.html">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide">
                                <a class="img" href="http://www.bocweb.cn/news/info/6.html">
                                    <img class="bgimg" src="/static/web/img/bg_03.png?v=v3" alt="">
                                    <img class="up-pic" src="http://www.bocweb.cn/upload/2017/02/27/14881746476775epdkf.jpg" alt="签约财通证券网络全案营销策划">
                                    <span class="up-gray"></span>
                                </a>
                                <div class="cont-wrap">
                                    <div class="cont">
                                        <p class="tit"><a href="http://www.bocweb.cn/news/info/6.html">签约财通证券网络全案营销策划</a></p>
                                        <span class="word"><a href="http://www.bocweb.cn/news/info/6.html">   财通证券股份有限公司（以下简称“公司”）前身是成立于1993年5月的浙江财政证券公…</a></span>
                                        <a class="bot-link f-cb" href="http://www.bocweb.cn/news/info/6.html">
                                            <span class="fl more">Read more</span>
                                            <span class="fr link-point"></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>
            <div class="i-eig-wrap i-wrap">
                <div class="main-wrap">
                    <div class="tit-box f-cb">
                        <div class="fl">
                            <p class="tit">媒介资源</p>
                            <span class="intr">优质数字媒介资源，涵盖各行各业</span>
                        </div>
                        <a class="fr more" href="http://www.bocweb.cn/digital/medium.html" target="_blank">Read more</a>
                    </div>
                    <div class="list-wrap">
                        <ul>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/01/18/148472222759230flrg.jpg" alt="Baidu百度">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/02/08/1486517717695crk6f.jpg" alt="淘宝网">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/02/08/1486517755411719q6t.jpg" alt="腾讯网">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/03/03/14885312152698hr6ug.jpg" alt="今日头条">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/02/08/14865176867448jd573.jpg" alt="小米网">
                            </li>
                            <li>
                                <img src="http://www.bocweb.cn/upload/2017/03/03/14885311394442lrud5.jpg" alt="网易新闻">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



{{include  file="$smarty_root/footer.html" }}

<script src="/static/web/js/index.js" type="text/javascript" charset="utf-8"></script>