<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8" />
	<title>{{$website.name}}-{{$seo_title}}</title>
    <meta name="keywords" content="{{$seo_keywords}}" />
    <meta name="description" content="{{$seo_description}}" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link href="/templets/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="{{$uploadpath}}website/{{$website.fav}}" type="image/x-icon" />
    
    <link href="/templets/Content/index.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/templets/Scripts/html5shiv.min.js"></script>
    <![endif]-->
    <script src="/templets/Scripts/jquery.min.js"></script>
    <script src="/templets/Scripts/index.min.js"></script>
</head>

<body id="body">
    <header id="header">
        <div class="logo">
          <img src="{{$uploadpath}}website/{{$website.logo}}" alt="{{$website.name}}" class="img-responsive" />
        </div>
        <strong class="words">{{$website.slogen}}</strong>
        <nav class="menu">
          <ul class="list-inline">
            <li class="active"><a>首页</a></li>
            <li><a>业务</a></li>
            <li><a href="/fangan/">方案</a></li>
            <li><a href="/cases/">案例</a></li>
            <li><a>优势</a></li>
			<li><a>流程</a></li>
            <li><a>关于</a></li>
            <li><a>联系</a></li>
          </ul>
        </nav>
        <div class="hotline">
          <a href="tel:{{$website.contact}}" title="免费咨询热线"><span>{{$website.contact}}</span></a><u></u>
        </div>
        <div class="menu-icon">
  			<a href="tel:{{$website.contact}}" title="点击直拨制作热线"><span class="glyphicon glyphicon-earphone"></span></a>
            <span class="glyphicon glyphicon-th-large"></span>
        </div>
    </header>
    <div class="welcome"><p><u>Loading . . .</u></p></div>
    
    <section class="video">
    	<div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide nth1">
                <div class="box">
                  <div class="left"></div>
                  <div class="right">
                	<span>年专注，APP应用开发</span><i></i>
                    <p>始于2012年 展望未来<br />专注于用户体验，专业于解决方案</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide nth2">
              	<div class="box">
                	<span>设计控，也醉了</span><i></i>
                    <p>不是非要高大上，只是醉心于设计<br />我们想，再上一个好案例</p>
                </div>
              </div>
              <div class="swiper-slide nth3">
              	<div class="box">
                  <div class="top">技术派，论研发</div>
                  <div class="mid"></div>
                  <div class="bottom">我说，业界没有最好的技术，只有最棒的技术开发者<br />定制研发，为您的客户和团队</div>
                </div>
              </div>
              <div class="swiper-slide nth4">
              	<div class="box">
                  <div class="top"><span>先入为主，布局未来</span><i></i></div>
                  <div class="bottom">全面布局<u>PC</u>端与<u>移动</u>端<br />抢占头等商机<br />基于<u>Html5</u>响应式布局，智能识别多种终端设备</div>
                </div>
              </div>
            </div>
        </div>
        <div class="innerBox">
        	<div class="news">
            	<span>NEWS :</span>
                <a href="/a/news/" title="更多文章动态" class="more" target="_blank">more</a>
                <ul>
                   <li><a href="/news/experience/2017/1025/68.html" target="_blank" title="共享停车位APP定制开发怎么变现？">共享停车位APP定制开发怎么变现？...</a></li>
<li><a href="/news/experience/2017/1025/70.html" target="_blank" title="快递APP开发最常见的几个错误设计">快递APP开发最常见的几个错误设计...</a></li>
<li><a href="/news/experience/2017/1025/69.html" target="_blank" title="健身APP开发都有哪些核心功能？">健身APP开发都有哪些核心功能？...</a></li>
<li><a href="/news/experience/2017/1025/67.html" target="_blank" title="共享珠宝首饰APP开发报价和周期">共享珠宝首饰APP开发报价和周期...</a></li>

                </ul>
            </div>
            <div class="guide"></div>
            <a class="movedown"></a>
        </div>
    </section>
    
    <section class="business">
      <div class="box">
        <div class="caption">
        	<i></i><span>我们能做什么</span>
            <br class="clear" />
        </div>
        <ul class="items list-inline">
        	<li class="app">
            	<i></i><strong>APP应用开发</strong>
                <p>高端APP定制开发服务<br />打造移动端品牌</p>
            </li>
            <li class="pc">
            	<i></i><strong>物联网技术研究</strong>
                <p>工程技术应用站/ 新农村物联网<br />布局物联时代</p>
            </li>
            <li class="sys">
            	<i></i><strong>业务系统研发</strong>
                <p>提供ERP/CRM/OA等系统研发<br />让业务办公轻松自如</p>
            </li>
            <li class="host">
            	<i></i><strong>微信开发服务</strong>
                <p>微信公众号开发/小程序应用制作<br />抢夺微信端流量</p>
            </li>
            <li class="mobi">
            	<i></i><strong>高端网站定制</strong>
                <p>为企业提供高端网站建设<br />打造互联网品牌门面</p>
            </li>
        </ul>
      </div>
    </section>
    
    <section class="cases">
      <div class="box">
    	<div class="caption">
        	<i></i><span>解决方案</span>
            <br class="clear" />
        </div>
        <div class="swiper-container items">
           <div class="swiper-wrapper">
                 <div class="swiper-slide">
                    <a href="/fangan/56.html" target="_blank">
                    <img src="/uploads/171017/1-1G01GH4035I.jpg" alt="直播电商APP开发解决方案" />
                    <p>解决方案<br /><strong>直播电商APP开发解决方案</strong><br />直播电商AP开发,直播APP开发</p></a>
                  </div>
<div class="swiper-slide">
                    <a href="/fangan/55.html" target="_blank">
                    <img src="/uploads/allimg/171017/1-1G01G636443P.jpg" alt="一元夺宝APP开发" />
                    <p>解决方案<br /><strong>一元夺宝APP开发</strong><br />云购系统开发</p></a>
                  </div>
<div class="swiper-slide">
                    <a href="/fangan/54.html" target="_blank">
                    <img src="/uploads/171017/1-1G01G6063A38.jpg" alt="分销商城系统开发解决方" />
                    <p>解决方案<br /><strong>分销商城系统开发解决方</strong><br /></p></a>
                  </div>

           </div>
        </div>
        <a href="/fangan/" title="欣赏更多app开发解决方案" class="more" target="_blank">MORE</a>
      </div>
    </section>
    
    <section class="clients">
   	  <div class="box">
    	<div class="caption">
        	<i></i><span>他们与紫鲸物流长期合作</span>
            <br class="clear" />
        </div>
        <ul class="items list-inline">
        	<li class="cctv"><span>CCTV影响力视频网站建设</span></li>
            <li class="unicom"><span>中国联通电信卡网站制作</span></li>
            <li class="tsinghua"><span>清华大学国际预科学院网站建设</span></li>
            <li class="cas"><span>中科院力学研究所网站设计</span></li>
            <li class="sipo"><span>国家知识产权局网站建设</span></li>
            <li class="apple"><span>中航苹果官方网站设计</span></li>
            <li class="das"><span>一汽大众汽车门户网站建设</span></li>
            <li class="hunantv"><span>湖南卫视全媒体网站建设</span></li>
            <li class="sino"><span>中环球船务官方网站制作</span></li>
            <li class="report"><span>中国报道信息门户网站建设</span></li>
            <li class="gedu"><span>环球雅思教育门户网站制作</span></li>
            <li class="bgg"><span>京粮集团网站建设</span></li>
            <li class="bsec"><span>北赛电工官方网站设计</span></li>
            <li class="huadan"><span>华丹乳业官方网站建设</span></li>
            <li class="zd"><span>中东集团网站制作</span></li>
        </ul>
      </div>
    </section>
    
   <section class="quality">
      <div class="box">
    	<div class="caption">
        	<i></i><span>不同媒介，同样精彩</span>
            <br class="clear" />
        </div>
        <div class="swiper-container items">
            <div class="swiper-wrapper">
              <div class="swiper-slide nth1">
                <ul class="list-inline">
                  <li class="mobi"><span>响应式手机网站建设</span></li><li class="pad"><span>响应式平板网站建设</span></li><li class="pc"><span>响应式PC网站建设</span></li>
                </ul>
                <p>触及视觉灵魂的设计趋势<br />精心布局的用户体验<br />毫无顾忌地通过任何终端<br />呈现在客户的眼前</p>
              </div>
              <div class="swiper-slide nth2">
              	<ul class="list-inline">
                  <li class="ie"><span>兼容微软IE浏览器的网页设计</span></li><li class="chrome"><span>兼容谷歌Chrome浏览器的网站设计</span></li><li class="firefox"><span>兼容火狐Firefox浏览器的网页设计</span></li><li class="safari"><span>兼容苹果Safari浏览器的网站设计</span></li>
                </ul>
                <p>Html5 + CSS3 响应式布局<br />卓越的浏览器兼容性<br />因为高端，所以出众</p>
              </div>
              <div class="swiper-slide nth3">
              	<ul class="list-inline">
                  <li class="windows"><span>windows平台网站制作</span></li><li class="ios"><span>苹果APP开发</span></li><li class="andriod"><span>安卓app开发</span></li>
                </ul>
                <p>专业技术团队<br />项目质量把控<br />让APP开发更简单</p>
              </div>
            </div>
        </div>
    
      </div>
    </section>
    
    <section class="marketing">
      <div class="box">
        <div class="caption">
        	<i></i><span>APP开发流程</span>
            <br class="clear" />
        </div>
        <ul class="items list-inline">
        	<li class="se">
            	<i></i><strong>商务阶段</strong>
                <p>签订合同<br />需求分析</p>
            </li>
            <li class="weixin">
            	<i></i><strong>产品阶段</strong>
                <p>原型图确认<br />UI设计</p>
            </li>
            <li class="weibo">
            	<i></i><strong>代码开发阶段</strong>
                <p>功能确认<br />分组开发</p>
            </li>
            <li class="sms">
            	<i></i><strong>测试阶段</strong>
                <p>测试计划<br />bug修复</p>
            </li>
            <li class="pay">
            	<i></i><strong>交付阶段</strong>
                <p>部署上线<br />交付源码</p>
            </li>
            <li class="bbs">
            	<i></i><strong>售后阶段</strong>
                <p>技术维护<br />产品迭代建议</p>
            </li>
        </ul>
      </div>
    </section>
    
    <section class="aboutus">
    	<ul class="menu"><li>思想</li><li>关于</li><li>荣誉</li></ul>
        <div class="swiper-container items">
            <div class="swiper-wrapper">
              <div class="swiper-slide nth1">
                <strong>厚积薄发</strong>
                <p>登上峰顶，不是为了饱览风光，是为了寻找更高的山峰<br />日出东方，告别了昨天的荣耀，将光芒照向更远的地方<br />一路上，我们更在意如何积累和沉淀</p>
                <u>下一秒，让你看，我们到底有多强</u>
              </div>
              <div class="swiper-slide nth2">
              	<strong>海富特</strong>
                <p>深圳海富特资讯管理有限公司成立于2013年，是华南地区领先的智能物联技术研发服务商，我司拥有一批资深硬件工程师及嵌入式系统设计工程师，具备多年无线通讯技术开发经验积累。</p>
                <p>目前拥有丰富的GPS,GPRS/3G/4G/NB-Iot, WIFI，蓝牙，433M, MTK平台等相关案例；同时也致力于为客户提供完整的物联网解决方案。</p>
              </div>
              <div class="swiper-slide nth3">
              	<strong>紫鲸团队历程</strong>
                <ul>
                  <li>2012年<u>-</u>成立深圳粉果科技有限公司</li>
                  <li>2013年<u>-</u>获得天使投资</li>
                  <li>2014年<u>-</u>成立广州紫鲸互联网科技有限公司</li>
                  <li>2016年<u>-</u>成立深圳{{$website.name}}科技有限公司</li>
                  <li>2017年<u>-</u>成立领科技术孵化中心</li>
                </ul>
              </div>
            </div>
        </div>
        <!--<table class="exp">
        	<tr>
              <td><u>600+</u>企业客户信赖之选</td>
              <td><u></u>上市/集团企业设计作品</td>
              <td><u>2010</u>年度金牌设计企业</td>
              <td><u>12</u>项国家软件著作权</td>
              <td><u>96%</u>以上的客户续费率</td>
            </tr>
        </table>-->
    </section>
    
    <section class="contact">
    	<div class="box">
        	<div class="above">
            	<div class="wechat"><img src="{{$uploadpath}}website/{{$website.wechatlogo}}" alt="扫描关注{{$website.name}}微信公众账号" /></div>
                <div class="left">
                	<a href="tel:{{$website.contact}}" title="网站制作咨询热线" class="tel"></a>
                    <p>{{$website.address}}<br />联系电话：{{$website.contact}}<br />Copyright 2017-2020<u></u>{{$website.companyname}} 版权所有<br />{{$website.beian}}<br /></p>
                </div>
            
            </div>
        </div>
    </section>
    <div class="dock">
        <ul class="icons">
        	<li class="up"><i></i></li>
            <li class="tel">
            	<i></i><p>APP开发站咨询热线<br />{{$website.contact}}</p>
            </li>
            <li class="im">
            	<i></i><p><a href="http://wpa.qq.com/msgrd?v=3&uin={{$website.qq}}&site=qq&menu=yes" target="_blank">点我，建站咨询</a></p>
            </li>
            <li class="wechat">
            	<i></i><p><img src="{{$uploadpath}}website/{{$website.wechatlogo}}" alt="扫描关注app开发微信公众账号" /></p>
            </li>
            <li class="down"><i></i></li>
        </ul>
        <a class="switch"></a>
    </div>


</body>
</html>
