<!-- header -->
<!--[if lt IE 9]>
<script src="/resources/js/pc/html5shiv.js"></script>
<![endif]-->
<script type="text/javascript">
        var a = '';
        var b = '';
</script>
<link rel="stylesheet" href="/resources/css/pc/header.css" />
<script type="text/javascript" src="/resources/js/pc/jquery-1.11.2.min.js"></script>
<!-- 主页头部的样式与其他的页面的头部不同 -->
<div class="wqd-menu wqd-menu-other">
    <div class="wqd-view">
        <a href="/" class="wqd-logo-a">
            <img class="wqd-logo" src="{{$uploadpath}}fav/{{$SETTING.bulelogo}}" />
        </a>
        <ul class="wqd-remenu">
            <li class="">
                <a href="/">首页</a>
            </li>
            <li class="{{if $module=="casesite"}}on{{/if}}">
                <a href="/casesite">案例</a>
            </li>
            <li class="{{if $module=="theme"}}on{{/if}}">
                <a href="/theme">模板</a>
            </li>
            <li class="{{if $module=="price"}}on{{/if}}">
                <a href="/price">套餐</a>
            </li>
            <!--<li class="{{if $module=="partner"}}on{{/if}}">
                <a href="/partner">代理</a>
            </li>-->
            <li class="{{if $module=="design"}}on{{/if}}">
                <a href="/design">定制</a>
            </li>
            <!--
            <li>
                <a target="_blank" href="http://bbs.wqdian.com/thread-46-1-1.html">指南 </a>
            </li>

            -->
        </ul>
        <!--
        <ul class="wqd-site">
            <li class="site-li"><a href="http://member.wqdian.com/passport/login.html" class="wqd-login">登录</a></li>
            <li class="site-li"><a href="http://member.wqdian.com/register.html" class="wqd-register">注册</a></li>
        </ul>
            -->
    </div>
</div>
<script type="text/javascript">
        var a = '';
        var b = '';
        var _src = '/';
</script><!-- section -->