{{include  file="$smarty_root/header.html" }}



        <div class="wechat-info-ban website-info-ban">
            <div class="bgimg-out">
                <img class="bgimg" src="{{$uploadpath}}product/{{$product.pic}}" alt="{{$product.name}}">
            </div>
            <div class="up-cont">
                <h4>{{$product.name}}</h4>
                <span class="line"></span>
                <span class="font">
                    {{$product.summary}}
                </span>
                <a class="link-ico" href="{{$product.itswebsite}}" target="_blank"><span class="bg"></span><i></i></a>
            </div>
            <div class="bot-paging f-cb">
            <!--
                <a class="retun-list" href="http://www.bocweb.cn/interact/website.html">
                    <span class="chunk-box"></span>
                    <span class="round-tit">Cases Overview</span>
                </a>

                <a class="link-info next fr" href="http://www.bocweb.cn/interact/website_info/59.html">
                    <span class="link-ico">
                        <i></i>
                    </span>
                    <span class="tit-box">Next Case</span>
                </a>
                -->
            </div>
            <div class="loader"></div>
        </div>
        <div class="webisite-info case-info w1520">
            <div class="fir-wrap f-cb mginb-16 fadeInlist">
                <div class="fl left-wrap i-column-wrap black show-row1">
                    <p class="stit">项目简介</p>
                    <span class="line"></span>
                    <span class="mtit">{{$product.name}}</span>
                    <span class="font">{{$product.description}}</span>
                    <a class="link" href=""><span class="bg"></span><i></i></a>
                </div>
                <div class="fl right-cont show-row2">
                    <p class="right-tit">Service</p>
                    <span class="line"></span>
                    <div class="list-box">
                        {{$product.service}}
                    </div>
                </div>
            </div>
            <div class="main-wrap mginb-16" style="background-color: #fff;">

                <div class="sec-bigban img-ban fadeIntop">
                    <img src="{{$uploadpath}}product/{{$product.contentpic}}" alt="{{$product.name}}">
                </div>


                <!--
                <div class="thi-smallban img-ban">
                </div> -->
            </div>


            <div class="bot-erwei fadeIntop" style="background: url({{$uploadpath}}product/{{$product.pic}}) no-repeat center;">
                <div class="link-cont">
                    <span class="code-img"><img src="{{$uploadpath}}product/{{$product.qrcode}}" alt="{{$product.name}}"></span>
                    <a class="link-site" href="{{$product.itswebsite}}" target="_blank">VISIT SITE</a>
                </div>
                <p class="intr-tit">手机可扫描二维码访问</p>
            </div>
        </div>





{{include  file="$smarty_root/footer.html" }}
<script>
        $(function(){
            if ($(window).width() > 800) {
                $(".wechat-info-ban").height($(window).height() - 100);
            };
            var src = $(".wechat-info-ban .bgimg").attr("src");
            _PreLoadImg([
                src
                ],function(){
                    $(".loader").fadeOut();
                    if ($(window).width() > 800) {
                        FullBg($(".wechat-info-ban"), $(".wechat-info-ban .bgimg"));
                    }
                    $(".wechat-info-ban").addClass('active');
                    $(".wechat-info-ban .bgimg").stop().animate({opacity: 1}, 500);
                })

            $(window).scroll(function() {
                if ($(window).scrollTop() >= $(".fir-wrap").offset().top - $(window).height() + 100) {
                    $(".bot-paging").addClass('long');
                }else{
                    $(".bot-paging").removeClass('long');
                }
                var top = $(window).scrollTop() / 2;
                $(".wechat-info-ban .bgimg").css('top', top);
            });
            window.onresize = function(){
                if ($(window).width() > 800) {
                    $(".wechat-info-ban").height($(window).height() - 100);
                }else{
                    $(".wechat-info-ban").attr("style","");
                    $(".wechat-info-ban .bgimg").attr("style","").removeClass('h-f');
                }
                $(".wechat-info-ban .bgimg").css('opacity', '1');
            }
        })
    </script>