@charset "utf-8";

@media (min-width: 1050px){
	.i-fir-wrap .right-wrap .about-recom{
		margin-top: 0;
	}
	.i-fir-wrap .left-wrap .cent-cont,.i-fir-wrap .right-wrap .img-box{
		margin-top: 30px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.i-fir-wrap.active .left-wrap .cent-cont{
		transition: all 0.3s ease 0s;
	}
	.i-fir-wrap.active .right-wrap .img-box{
		transition: all 0.3s ease 0.1s;
	}
	.i-fir-wrap.active .left-wrap .cent-cont,.i-fir-wrap.active .right-wrap .img-box{
		margin-top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-sec-wrap{
		opacity: 0;
		filter: alpha(opacity=0);
		transition: opacity 0.3s ease 0s;
	}
	.i-sec-wrap .img-box,.i-sec-wrap .right-cont{
		margin-top: 30px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.i-sec-wrap.active{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-sec-wrap.active .img-box{
		transition: all 0.3s ease 0s;
	}
	.i-sec-wrap.active .right-cont{
		transition: all 0.3s ease 0.1s;
	}
	.i-sec-wrap.active .img-box,.i-sec-wrap.active .right-cont{
		margin-top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-thi-wrap .main-wrap{
		margin-top: 30px;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.3s ease 0s;
	}
	.i-thi-wrap.active .main-wrap{
		margin-top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-fou-wrap{
		opacity: 0;
		filter: alpha(opacity=0);
		transition: opacity 0.3s ease 0s;
	}
	.i-fou-wrap .img-box,.i-fou-wrap .cont-wrap{
		margin-top: 30px;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.3s ease 0s;
	}
	.i-fou-wrap.active{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-fou-wrap.active .img-box,.i-fou-wrap.active .cont-wrap{
		margin-top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-fiv-wrap ul{
		margin-top: 30px;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.3s ease 0s;
	}
	.i-fiv-wrap.active ul{
		margin-top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-sex-wrap{
		opacity: 0;
		filter: alpha(opacity=0);
		transition: opacity 0.3s ease 0s;
	}
	.i-sex-wrap.active{
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-sex-wrap .img-box,.i-sex-wrap .cont-wrap{
		margin-top: 30px;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.3s ease 0s;
	}
	.i-sex-wrap.active .img-box,.i-sex-wrap.active .cont-wrap{
		margin-top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-sev-wrap .main-wrap .top-titbox{
		margin-top: 30px;
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.3s ease 0s;
	}
	.i-sev-wrap.active .main-wrap .top-titbox{
		margin-top: 0;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-sev-wrap .news-recommend-list{
		transform: translateY(20px);
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.3s ease 0.3s;
	}
	/*.i-sev-wrap .news-recommend-list li:nth-child(1){
		transition: all 0.3s ease 0.3s;
	}
	.i-sev-wrap .news-recommend-list li:nth-child(2){
		transition: all 0.3s ease 0.5s;
	}
	.i-sev-wrap .news-recommend-list li:nth-child(3){
		transition: all 0.3s ease 0.7s;
	}*/
	.i-sev-wrap.active .news-recommend-list{
		transform: translateY(0);
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.i-eig-wrap .tit-box,.i-eig-wrap .list-wrap{
		transform: translateY(30px);
		opacity: 0;
		filter: alpha(opacity=0);
		transition: all 0.3s ease 0s;
	}
	.i-eig-wrap .tit-box{
		transition: all 0.3s ease 0s;
	}
	.i-eig-wrap .list-wrap{
		transition: all 0.3s ease 0.2s;
	}
	.i-eig-wrap.active .tit-box,.i-eig-wrap.active .list-wrap{
		transform: translateY(0);
		opacity: 1;
		filter: alpha(opacity=100);
	}
	/*.i-fir-wrap .left-wrap .stit,.i-fir-wrap .left-wrap .line,.i-fir-wrap .left-wrap .mtit,.i-fir-wrap .left-wrap .font,.i-fir-wrap .left-wrap .link{
		position: relative;
	}
	.i-fir-wrap .left-wrap .stit,.i-fir-wrap .left-wrap .line,.i-fir-wrap .left-wrap .mtit,.i-fir-wrap .left-wrap .font,.i-fir-wrap .left-wrap .link{
		opacity: 0;
		filter: alpha(opacity=0);
		left: 20px;
	}
	.i-fir-wrap.active .left-wrap .stit{
		transition: all 0.4s ease 0s;
	}
	.i-fir-wrap.active .left-wrap .line{
		transition: all 0.4s ease 0s;
	}
	.i-fir-wrap.active .left-wrap .mtit{
		transition: all 0.4s ease 0.3s;
	}
	.i-fir-wrap.active .left-wrap .font{
		transition: all 0.4s ease 0.6s;
	}
	.i-fir-wrap.active .left-wrap .link{
		transition: all 0.4s ease 0.9s;
	}
	.i-fir-wrap.active .left-wrap .stit,.i-fir-wrap.active .left-wrap .line,.i-fir-wrap.active .left-wrap .mtit,.i-fir-wrap.active .left-wrap .font,.i-fir-wrap.active .left-wrap .link{
		opacity: 1;
		filter: alpha(opacity=100);
		left: 0;
	}*/

	.bot-paging .link-info:hover {
	  width: 145px;
	}
	.bot-paging .link-info:hover .link-ico {
	  background-color: rgba(0, 0, 0, 0.8);
	}
	.bot-paging .link-info:hover .tit-box {
	    transform: translateX(0);
	}
	.bot-paging .retun-list:hover {
	  width: 190px;
	  margin-left: -95px;
	}
	.bot-paging .retun-list:hover .round-tit {
	    transform: translateX(0);
	}
	.team-wrap .fir-wrap .list-wrap li:hover .up-cont {
	  opacity: 1;
	  filter: alpha(opacity=100);
	}

	.fadeIntop{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.fadeIntop.show{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: all 0.3s ease 0s;
	}
	.fadeInlist{
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.fadeInlist .show-row1,.fadeInlist .show-row2{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.fadeInlist.show{
		opacity: 1;
		filter: alpha(opacity=100);
		transition: 0.3s ease 0s;
	}
	.fadeInlist.show .show-row1{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.1s;
	}
	.fadeInlist.show .show-row2{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.1s;
	}

	.ins-ban .up-cont h4,.ins-ban .up-cont .line,.ins-ban .up-cont .font,.ins-ban .up-cont .down-ico,.ins-ban .up-cont .link-ico{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.wechat-info-ban .up-cont h4,.wechat-info-ban .up-cont .line,.wechat-info-ban .up-cont .font,.wechat-info-ban .link-ico{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.wechat-info-ban.active .up-cont h4,.wechat-info-ban.active .up-cont .line,.wechat-info-ban.active .up-cont .font,.wechat-info-ban.active .link-ico{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
	}
	.website-info-ban .up-cont h4,.website-info-ban .up-cont .line,.website-info-ban .up-cont .font,.website-info-ban .link-ico{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.website-info-ban.active .up-cont h4,.website-info-ban.active .up-cont .line,.website-info-ban.active .up-cont .font,.website-info-ban.active .link-ico{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
	}
	.wechat-info-ban .up-cont .down-ico {
	    opacity: 0;
	    filter: alpha(opacity=0);
	    transform: translateY(30px);
	}
	.wechat-info-ban.active .up-cont .down-ico {
	    opacity: 1;
	    filter: alpha(opacity=100);
	    transform: translateY(0);
	    transition: all 0.3s ease 0.6s;
	}
	.vr-ban .up-cont .vr-logo{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.website-ban .up-cont .s-tit{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.ins-ban.active .up-cont h4{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0s;
	}
	.vr-ban.active .up-cont .vr-logo{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0s;
	}
	.ins-ban.active .up-cont .line{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.2s;
	}
	.website-ban.active .up-cont .s-tit{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.2s;
	}
	.website-ban .up-cont .link-box,.interact-ban .up-cont .link-box{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.website-ban.active .up-cont .line{
		transition: 0.3s ease 0.4s;
	}
	.ins-ban.active .up-cont .font{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.4s;
	}
	.vr-ban .up-cont .s-tit{
		opacity: 0;
		filter: alpha(opacity=0);
		transform: translateY(30px);
	}
	.vr-ban.active .up-cont .s-tit{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.4s;
	}
	.website-ban.active .up-cont .font{
		transition: 0.3s ease 0.6s;
	}
	.ins-ban.active .up-cont .down-ico{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.6s;
	}
	.ins-ban.active .up-cont .link-ico{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.6s;
	}
	.vr-ban.active .up-cont .link-ico{
		transition: opacity 0.3s ease 0.6s,transform 0.3s ease 0.6s,background 0.3s ease 0s,border 0.3s ease 0s;
	}
	.website-ban.active .up-cont .link-box{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.8s;
	}
	.website-ban.active .up-cont .down-ico{
		transition: 0.3s ease 1s;
	}
	.interact-ban.active .up-cont .link-box{
		opacity: 1;
		filter: alpha(opacity=100);
		transform: translateY(0);
		transition: 0.3s ease 0.6s;
	}
	.wechat-info-ban.active .up-cont h4{
		transition: all 0.3s ease 0s;
	}
	.wechat-info-ban.active .up-cont .line{
		transition: all 0.3s ease 0.2s;
	}
	.wechat-info-ban.active .up-cont .font{
		transition: all 0.3s ease 0.4s;
	}
	.wechat-info-ban.active .up-cont .link-ico{
		transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s, background 0.3s ease 0s, border 0.3s ease 0s;
	}
	.website-info-ban.active .up-cont h4{
		transition: all 0.3s ease 0s;
	}
	.website-info-ban.active .up-cont .line{
		transition: all 0.3s ease 0.2s;
	}
	.website-info-ban.active .up-cont .font{
		transition: all 0.3s ease 0.4s;
	}
	.website-info-ban.active .up-cont .link-ico{
		transition: transform 0.3s ease 0.6s, opacity 0.3s ease 0.6s, background 0.3s ease 0s, border 0.3s ease 0s;
	}
	.ins-link-box a.link1:hover {
	  border: 1px solid #333;
	  background-color: #333;
	}
	.ins-link-box a.link1:hover i {
	  background: url("../img/ico_07_h.png")/*tpa=http://www.bocweb.cn/static/web/img/ico_07_h.png*/ no-repeat center;
	}
	.ins-link-box a.link1:hover .bg {
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background-color: #333;
	}
	.ins-ban .up-cont .link-ico:hover .bg{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
	}
	.ins-link-box a.link2:hover {
	  border: 1px solid #333;
	  background-color: #333;
	}
	.ins-link-box a.link2:hover i {
	  background: url("../img/ico_17_h.png")/*tpa=http://www.bocweb.cn/static/web/img/ico_17_h.png*/ no-repeat center;
	}
	.ins-link-box a.link2:hover .bg {
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background-color: #333;
	}
	.i-column-wrap.black .link:hover {
	  border: 1px solid #333;
	  background-color: #333;
	  overflow: hidden;
	}
	.i-column-wrap.black .link:hover i {
	  background: url("../img/ico_05.png")/*tpa=http://www.bocweb.cn/static/web/img/ico_05.png*/ no-repeat center;
	}
	.i-column-wrap.black .link:hover .bg {
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background-color: #333;
	}
	.website-info-ban .up-cont .link-ico:hover{
		background-color: #fff;
		border: 1px solid #fff;
	}
	.website-info-ban .up-cont .link-ico:hover i{
		background: url("../img/ico_43_h.png")/*tpa=http://www.bocweb.cn/static/web/img/ico_43_h.png*/ no-repeat center;
	}
	.website-info-ban .up-cont .link-ico:hover .bg{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
	}
	.i-column-wrap.white .link:hover {
	  border: 1px solid white;
	  background-color: white;
	  overflow: hidden;
	}
	.i-column-wrap.white .link:hover i {
	  background: url("../img/ico_06.png")/*tpa=http://www.bocweb.cn/static/web/img/ico_06.png*/ no-repeat center;
	}
	.i-column-wrap.white .link:hover .bg {
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background-color: white;
	}
	.i-fir-wrap .right-wrap .about-recom .email:hover {
	  border: 1px solid #333;
	  background-color: #333;
	}
	.i-fir-wrap .right-wrap .about-recom .email:hover i {
	  background: url("../img/ico_07_h.png")/*tpa=http://www.bocweb.cn/static/web/img/ico_07_h.png*/ no-repeat center;
	}
	.i-fir-wrap .right-wrap .about-recom .email:hover .bg {
	  width: 100%;
	  height: 100%;
	  left: 0;
	  top: 0;
	}
	.degital-wrap .cent-cont .link-ico:hover{
		background-color: #e8e7e7;
		border: 1px solid #e8e7e7;
		color: #333;
	}
	.degital-wrap .cent-cont .link-ico:hover i{
		background: url("../img/ico_43_h.png")/*tpa=http://www.bocweb.cn/static/web/img/ico_43_h.png*/ no-repeat center;
	}
	.search-alert .close:hover{
		transform: rotate(90deg);
	}
}

@media (max-width: 1550px) {
	.news-wrap .list-wrap .cont-box{
		margin-left: 0;
		margin-top: 20px;
		width: 100%
	}
	.news-wrap .list-wrap .bot-link{
		margin-top: 18px;
	}
}
@media (max-width: 1440px) {
	.w1520{
		width: 89%;
	}
	.i-fir-wrap .left-wrap .cent-cont{
		top: 100px;
	}
	.i-fir-wrap .left-wrap .num-box{
		width: 150px;
		height: 150px;
	}
	.i-fir-wrap .left-wrap .num-box .num{
		margin-top: 40px;
		font-size: 26px;
	}
	.i-sec-wrap .right-cont,.i-fou-wrap .cont-wrap,.i-sex-wrap .cont-wrap{
		padding-top: 50px;
	}
	.i-column-wrap .link{
		margin-top: 40px;
	}
	.about-ban .cont-wrap{
		left: 5.5%;
		width: 89% !important;
	}
	.team-wrap .fir-wrap .cont-fir{
		padding-top: 30px;
	}
	.ins-ban .up-cont{
		left: 6%;
		margin-top: -170px;
	}
	.interact-ban .up-cont h4,.ins-ban .up-cont h4{
		font-size: 42px;
	}
	.interact-ban .up-cont .line{
		margin-top: 24px;
	}
	.interact-ban .up-cont .font,.ins-ban .up-cont .font{
		font-size: 26px;
		margin-top: 32px;
		line-height: 40px;
	}
	.ins-ban .up-cont .down-ico{
		margin-top: 60px;
	}
	.news-ban .up-tit{
		left: 6%;
	}
	.adsuper-wrap .sec-wrap .cont-wrap{
		padding-top: 80px;
	}
	.wechat-info-ban .up-cont{
		width: 89%;
		left: 5.5%;
		margin-top: -160px;
	}
	.bot-paging{
		width: 89%;
		left: 5.5%;
	}
	.bot-paging.long{
		width: 100%;
		left: 0;
	}
	.contact-wrap .city-list{
		width: 166px;
		margin-right: 30px;
	}
	.contact-wrap .address{
		width: 290px;
		margin-right: 32px;
	}
	.contact-wrap .weixin{
		width: 180px;
		margin-right: 32px;
	}
	.contact-wrap .advis{
		width: 180px;
	}
	header .nav-link .nav .line{
		margin-left: 26px;
	}
	header .nav-link .nav li{
		padding-left: 26px;
	}
	.ins-nav ul{
		width: 682px;
	}
	.about-wrap .sec-wrap .left-cont{
		padding-top: 40px;
	}
	.about-wrap .fir-wrap .right-cont .num-box .num{
		font-size: 46px;
	}
	.about-wrap .fir-wrap .left-cont h4{
		font-size: 70px;
	}
	.culture-wrap .fir-list li .cont-wrap{
		padding-top: 10px;
	}
	.culture-wrap{
		background: #fff;
	}
	.future-wrap .top-main .cont-wrap{
		padding-top: 60px;
	}
	.society-wrap .main-column .cont-wrap{
		padding-top: 50px;
	}
	.adsuper-wrap .thi-wrap .left-cont{
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.adsuper-wrap .fou-wrap .right-cont{
		padding-top: 50px;
	}
	.about-home .fir-wrap h4{
		font-size: 70px;
	}
	.i-ban li .cent-cont,.i-ban .btns{
		left: 5.5%;
	}
	.i-ban li .cent-cont{
		margin-top: -190px;
	}
	.i-ban li .word{
		font-size: 36px;
		line-height: 56px;
	}
	.i-ban li .word p{
		height: 56px;
	}
	.return-top{
		right: 10px;
	}
	.about-home .thi-wrap .num-list li{
		margin-right: 0;
		padding-right: 36px;
	}
	.about-wrap .fir-wrap .right-cont .num-box li{
		padding-right: 30px;
		margin-left: 0;
	}
	.about-wrap .fir-wrap .right-cont .num-box .num{
		line-height: 68px;
	}
	.about-wrap .fir-wrap .right-cont .num-box .line{
		display: none;
	}
	.ins-nav .interact-ul{
		width: 454px;
	}
}
@media (max-width: 1200px) {
	.i-sec-wrap .right-cont .stit{
		font-size: 34px;
	}
	.i-sec-wrap .right-cont,.i-fou-wrap .cont-wrap,.i-sex-wrap .cont-wrap{
		padding-top: 20px;
	}
	.i-column-wrap .mtit{
		margin-top: 6px;
	}
	.i-column-wrap .link{
		margin-top: 20px;
	}
	.i-sev-wrap{
		padding-bottom: 40px;
	}
	.team-wrap .fir-wrap .list-wrap li .word{
		display: none;
	}
	.about-wrap .fir-wrap .left-cont{
		padding-top: 60px;
	}
	.about-wrap .fir-wrap .left-cont h4{
		font-size: 60px;
	}
	.about-wrap .fir-wrap .right-cont{
		padding-top: 80px;
	}
	.about-wrap .fir-wrap .left-cont .link-box{
		margin-top: 50px;
	}
	.culture-wrap .fir-list li{
		width: 100%;
	}
	.society-wrap .main-column .cont-wrap{
		padding-top: 30px;
	}
	.about-home .fir-wrap h4{
		font-size: 60px;
	}
	.medium-wrap .fir-wrap .left-cont{
		padding-top: 30px;
	}
	.medium-wrap .fir-wrap .tit{
		font-size: 24px;
	}
	.medium-wrap .bot-news-med .left-cont{
		padding-top: 50px;
	}
	.bigdata-wrap .sec-wrap li{
		width: 50%;
	}
	.culture-wrap .fir-list li .cont-wrap .en-font{
		display: none;
	}
	.culture-wrap .fir-list li .cont-wrap{
		padding-top: 40px;
	}
}


@media (max-width: 1050px){
	.i-m-ban .cent-cont{
		margin-top: -200px;
	}
	.i-fir-wrap .right-wrap,.i-fir-wrap .left-wrap{
		width: 100%;
	}
	.i-fir-wrap .left-wrap{
		padding-bottom: 38px;
	}
	.i-fir-wrap .left-wrap .cent-cont{
		position: inherit;
		left: 0;
		top: 0;
		margin-top: 30px;
		width: 92%;
		margin-left: 4%;
	}
	.i-fir-wrap .left-wrap .num-box{
		display: none;
	}
	.i-sec-wrap .img-box,.i-fou-wrap .img-box,.i-sex-wrap .img-box{
		width: 100%;
	}
	.i-sec-wrap .right-cont,.i-sex-wrap .cont-wrap{
		width: 92%;
		margin-right: 4%;
		padding-bottom: 38px;
		padding-top: 26px;
	}
	.i-fou-wrap .cont-wrap{
		width: 92%;
		margin-left: 4%;
		padding-bottom: 36px;
		padding-top: 26px;
	}
	.i-column-wrap .link{
		width: 38px;
		height: 38px;
	}
	.i-fir-wrap .right-wrap .about-recom .email{
		width: 38px;
		height: 38px;
	}
	.i-fiv-wrap .cont-wrap{
		padding-top: 28px;
	}
	.i-sev-wrap{
		padding-top: 60px;
	}
	.news-recommend-list.pc-scroll{
		display: none;
	}
	.news-recommend-list.m-scroll{
		display: block;
		padding-bottom: 48px;
	}
	.i-sev-wrap .top-titbox .more{
		display: none;
	}
	.i-sev-wrap .main-wrap,.i-eig-wrap .main-wrap{
		width: 92%;
	}
	.contact-wrap{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.contact-wrap .city-list,.contact-wrap .weixin,.contact-wrap .advis{
		display: none;
	}
	.contact-wrap .address{
		margin-right: 0;
	}
	footer{
		padding-top: 50px;
	}
	footer .main-wrap,.contact-wrap .main-wrap{
		width: 92%;
	}
	header,header.fixed{
		height: 85px;
	}
	header .header-main{
		padding-top: 18px;
		padding-bottom: 18px;
	}
	header .nav-link,header .extra-link{
		display: none;
	}
	header .m-btn{
		display: block;
	}
	.i-ban li .cent-cont{
		width: 90%;
		left: 5%;
	}
	.i-ban li .word{
		font-size: 30px;
		line-height: 56px;
	}
	.i-ban{
		display: none;
	}
	.i-m-ban{
		display: block;
	}
	.team-wrap .fir-wrap .cont-fir{
		width: 86%;
		padding: 40px 7%;
	}
	.team-wrap .fir-wrap .right-list{
		width: 100%;
	}
	.team-wrap .fir-wrap .list-wrap li .word{
		display: block;
	}
	.team-wrap .sec-wrap .row-box .cont-wrap{
		padding-top: 80px;
	}
	.ins-ban .up-cont h4{
		font-size: 42px;
	}
	.ins-ban .up-cont .font{
		font-size: 28px;
	}
	.public-list .list-wrap .cont-box{
		padding-top: 12px;
	}
	.public-list .list-wrap .cont-box .stit{
		line-height: 28px;
		margin-bottom: 5px;
	}
	.public-list .list-wrap .cont-box .bot-link{
		margin-top: 18px;
	}
	.ins-nav{
		display: none;
	}
	.adsuper-wrap .sec-wrap .flex-control-nav{
		bottom: 20px;
	}
	.adsuper-wrap .sec-wrap .cont-wrap{
		padding-top: 50px;
	}
	.news-wrap{
		padding-bottom: 100px;
	}
	.news-wrap .more-load{
		margin-top: 60px;
	}
	.about-wrap .fou-wrap .right-cont{
		padding-top: 30px;
	}
	.about-wrap .sec-wrap .left-cont .num-long{
		font-size: 50px;
		margin-top: 32px;
	}
	.about-wrap .sec-wrap .left-cont .num-long .m{
		font-size: 40px;
	}
	.about-wrap .sec-wrap .left-cont .num-long .square{
		line-height: 48px;
	}
	.about-wrap .sec-wrap .left-cont{
		width: 90%;
		padding: 30px 5%;
	}
	.about-wrap .sec-wrap .imgbox{
		width: 100%;
	}
	.culture-wrap .sec-list .cont-wrap .num-list{
		width: 100%;
	}
	.culture-wrap .sec-list .cont-wrap .imgbox{
		display: none;
	}
	.culture-wrap .sec-list .cont-wrap .num-list li.black{
		background-color: #fff;
	}
	.culture-wrap .sec-list .cont-wrap .num-list li.black .num-box .num{
		color: #333;
	}
	.culture-wrap .sec-list .cont-wrap .num-list li.black .stt{
		color: #333;
		background-color: #fff;
	}
	.culture-wrap .sec-list .cont-wrap .num-list li.black .word{
		color: #666;
		opacity: 1;
		filter: alpha(opacity=100);
	}
	.culture-wrap .sec-list .cont-wrap .row-box:nth-of-type(2) li:nth-of-type(2){
		background-color: #f5f5f5;
	}
	.culture-wrap .sec-list .cont-wrap .num-list .num-box .stt{
		width: 68px;
	}
	.culture-wrap .sec-list .cont-wrap .row-box:nth-of-type(2) li:nth-of-type(2) .stt{
		background-color: #f5f5f5;
	}
	/*.team-wrap .fir-wrap .list-wrap li .up-cont{
		opacity: 1;
		filter: alpha(opacity=100);
	}*/
	.about-wrap .fir-wrap .right-cont .num-box{
		margin-top: 30px;
	}
	.about-wrap .fir-wrap .right-cont .num-box .num{
		font-size: 36px;
	}
	
	.about-wrap .fir-wrap .right-cont .num-box .line{
		display: none;
	}
	.ins-ban.active img.bgimg{
		transform: scale(1);
	}
	.future-wrap .top-main .cont-wrap{
		padding-top: 30px;
	}
	.future-wrap .top-main .cont-wrap .tit{
		font-size: 26px;
		line-height: 42px;
	}
	.future-wrap .top-main .cont-wrap .cn-font{
		margin-top: 26px;
	}
	.society-wrap .main-column .cont-wrap{
		padding-top: 10px;
	}
	.adsuper-wrap .thi-wrap .imgbox{
		width: 100%;
	}
	.adsuper-wrap .thi-wrap .left-cont{
		width: 90%;
		padding: 30px 5%;
		margin: 0;
	}
	.adsuper-wrap .fou-wrap .right-cont{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.about-home .fir-wrap h4{
		font-size: 46px;
	}
	.degital-wrap-m{
		display: block;
	}
	.degital-wrap.pc{
		display: none;
	}
	#digital-floatnav{
		display: none;
	}
	.m-team-ban{
		display: block;
	}
	.medium-wrap .main-column li .font{
		font-size: 13px;
	}
	.medium-wrap .bot-news-med .left-cont{
		padding-top: 36px;
	}
	.bigdata-wrap .fir-wrap .imgbox{
		width: 100%;
	}
	.bigdata-wrap .fir-wrap .imgbox img{
		width: auto;
		max-width: 100%;
	}
	.bigdata-wrap .fir-wrap .left-cont{
		width: 90%;
		padding: 30px 5%;
	}
	.i-thi-wrap .list-wrap ul{
		width: 102%;
	}
	.i-thi-wrap .list-wrap li{
		width: 48%;
		margin-right: 2%;
	}
	.i-thi-wrap .list-wrap li:nth-of-type(3){
		display: none;
	}
	.i-thi-wrap .list-wrap{
		margin-top: 35px;
	}
	.about-wrap .fir-wrap .right-cont .num-box li{
		margin-bottom: 24px;
	}
	.about-wrap .fir-wrap .right-cont .num-box .num{
		font-size: 30px;
		line-height: 58px;
	}
	.float-right-box{
		display: none;
	}
	.history-wrap .cent-wrap li{
		margin-top: 50px;
	}
	.history-wrap .cent-wrap li:nth-child(odd) .cont-box{
		margin-left: 3.8%;
	}
	.history-wrap .cent-wrap li .cont-box{
		width: 32%;
	}
	.history-wrap .cent-wrap li:nth-child(even) .cont-box{
		margin-right: 6.7%;
		width: 29%;
	}
	.wechat-info-ban .up-cont .down-ico{
		display: none;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {
    body{
    	padding: 0;
    }
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	.i-thi-wrap{
		padding-bottom: 35px;
	}
	.i-thi-wrap .main-wrap{
		width: 85%;
	}
	.i-thi-wrap .nav-box .more{
		display: none;
	}
	.i-thi-wrap .pc-scroll{
		display: none;
	}
	.i-thi-wrap .mobile-scroll{
		display: block;
	}
	.i-thi-wrap .list-wrap{
		margin-top: 30px;
	}
	.i-fiv-wrap li{
		width: 100%;
		margin-right: 0;
		margin-bottom: 16px;
	}
	.i-fiv-wrap .cont-wrap{
		padding-top: 22px;
	}
	.i-sev-wrap .m-scroll{
		padding-bottom: 28px;
	}
	.i-eig-wrap{
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.i-eig-wrap .list-wrap{
		margin-top: 40px;
	}
	footer .top-wrap .nav{
		width: 60%;
	}
	footer .bot-wrap p.fr{
		width: 100%;
	}
	footer .bot-wrap{
		padding-top: 15px;
	}
	.about-ban .cont-wrap{
		/*display: none;*/
	}
	.team-wrap .sec-wrap .row-box .img-scroll{
		width: 100%;
	}
	.team-wrap .sec-wrap .row-box .cont-wrap{
		padding: 40px 7%;
		width: 86%;
		margin: 0;
	}
	.ins-ban{
		height: auto;
	}
	.ins-ban .bgimg{
		width: 100%;
	}
	.website-ban .bgimg{
		width: 1380px;
		left: 50%;
		margin-left: -690px;
	}
	.ins-ban .up-cont{
		margin-top: 0;
		/*top: auto;*/
		top: 50px;
	}
	.ins-ban .up-cont .down-ico,.ins-ban .up-cont .font{
		display: none;
	}
	.website-ban .up-cont .font{
		display: block;
		font-size: 18px;
		line-height: 28px;
		margin-top: 24px;
	}
	.website-ban .up-cont .line{
		margin-top: 20px;
	}
	.news-ban{
		height: 300px;
	}
	.news-ban .up-tit h4{
		font-size: 32px;
		line-height: 60px;
	}
	.news-ban .up-tit .line{
		height: 2px;
	}
	.public-list .list-wrap ul{
		width: 105%;
	}
	.public-list .list-wrap li{
		width: 45%;
		margin-right: 5%;
	}
	.public-list .top-nav .s-nav{
		height: auto;
	}
	.public-list .top-nav .s-nav li{
		margin-bottom: 10px;
	}
	.public-list .top-nav .s-nav li a{
		padding: 0;
	}
	.public-list .list-wrap{
		margin-top: 30px;
	}
	.adsuper-wrap .sec-wrap .imgbox{
		width: 100%;
	}
	.adsuper-wrap .sec-wrap .cont-wrap{
		width: 90%;
		padding: 30px 5% 60px;
		margin-left: 0;
	}
	.adsuper-wrap .sec-wrap .flex-control-nav{
		left: 0;
		width: 100%;
		text-align: center;
	}
	.adsuper-wrap .fir-wrap .left-wrap{
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.adsuper-wrap .fir-wrap .right-cont{
		padding-top: 40px;
	}
	.case-info .fir-wrap .left-wrap,.case-info .fir-wrap .right-cont{
		width: 90%;
		padding: 40px 5%;
	}
	.wechat-info-ban .up-cont h4{
		font-size: 26px;
		line-height: 46px;
	}
	.wechat-info-ban .up-cont .line{
		height: 2px;
	}
	.wechat-info-ban .up-cont .font{
		margin-top: 16px;
	}
	.website-info-ban .up-cont .link-ico{
		margin-top: 15px;
	}
	.bot-paging{
		position: absolute;
		bottom: 10px;
	}
	.bot-paging.long{
		width: 89%;
		left: 5.5%;
	}
	.wechat-info-ban{
		height: auto;
	}
	.wechat-info-ban img{
		/*width: 100%;*/
		width: 1380px;
		left: 50%;
		margin-left: -690px;
	}
	.wechat-info-ban .up-cont{
		margin-top: 0;
		top: 170px;
	}
	.news-wrap{
		padding-top: 45px;
	}
	.news-wrap .top-tit .search-box{
		margin-top: 16px;
	}
	.news-wrap .list-wrap .boxs{
		width: 48%;
	}
	.news-wrap .top-tit .year-list li.hover{
		font-size: 32px;
		line-height: 70px;
	}
	.news-wrap .top-tit .year-list li{
		font-size: 22px;
		line-height: 56px;
	}
	.news-wrap .list-wrap{
		margin-top: 18px;
	}
	.search-alert .cent-form .tex{
		height: 60px;
		line-height: 60px;
		font-size: 28px;
		background-position: 30px 20px !important;
	}
	.search-alert .cent-form{
		height: 60px;
		margin-top: -30px;
	}
	.search-alert .cent-form .sub-butn{
		height: 60px;
		line-height: 60px;
		margin-top: 0;
		/*background: url(../img/ico_36.png) no-repeat center;*/
		/*font-size: 0;*/
	}
	.about-home .fir-wrap .left-cont,.about-home .fir-wrap .right-cont{
		width: 90%;
		padding: 30px 5%;
		margin: 0;
	}
	.about-home .fir-wrap .right-cont{
		min-height: 10px;
	}
	.about-home .fir-wrap .link-box{
		margin-top: 30px;
	}
	.about-home .fir-wrap h4{
		font-size: 50px;
		line-height: 76px;
	}
	.about-home .sec-wrap{
		height: 400px;
	}
	.about-home .sec-wrap .cont-wrap{
		width: 88%;
		left: 6%;
		margin-top: -120px;
	}
	.about-wrap .fou-wrap .imgbox{
		width: 100%;
	}
	.about-wrap .fou-wrap .right-cont{
		width: 90%;
		padding: 30px 5%;
		margin: 0 auto;
	}
	.about-wrap .fir-wrap .left-cont,.about-wrap .fir-wrap .right-cont{
		width: 90%;
		padding: 30px 5%;
		margin: 0 auto;
	}
	.about-wrap .fir-wrap .right-cont{
		min-height: 10px;
	}
	/*.culture-wrap{
		padding-top: 0;
	}
	.culture-wrap .fir-list ul{
		width: 100%;
	}*/
	.culture-wrap .fir-list li.even-li .img,.culture-wrap .fir-list li.odd-li .img{
		width: 100%;
	}
	.culture-wrap .fir-list li.even-li .cont-wrap,.culture-wrap .fir-list li.odd-li .cont-wrap{
		width: 90%;
		padding: 20px 5% 25px;
		margin: 0;
	}
	.culture-wrap .sec-list .cont-wrap .imgbox{
		display: block;
		width: 100%;
	}
	.about-wrap .fir-wrap .left-cont h4{
		font-size: 36px;
		line-height: 66px;
	}
	.future-wrap .top-main li.even-li .imgbox,.future-wrap .top-main li.odd-li .imgbox{
		width: 100%;
	}
	.future-wrap .top-main li.even-li .cont-wrap,.future-wrap .top-main li.odd-li .cont-wrap{
		width: 90%;
		padding: 30px 5%;
		margin: 0;
	}
	.public-list .list-wrap li:hover .up-erwei{
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.society-wrap .main-column li.even-li .imgbox,.society-wrap .main-column li.odd-li .imgbox{
		width: 100%;
	}
	.society-wrap .main-column li.even-li .cont-wrap,.society-wrap .main-column li.odd-li .cont-wrap{
		width: 90%;
		padding: 30px 5% 40px;
		margin: 0;
	}
	.adsuper-wrap .fou-wrap .imgbox{
		width: 100%;
	}
	.adsuper-wrap .fou-wrap .right-cont{
		width: 90%;
		padding: 30px 5%;
	}
	.vr-ban .up-cont .s-tit{
		font-size: 30px;
		line-height: 40px;
	}
	.vr-ban .up-cont .line{
		margin-top: 32px;
	}
	.vr-ban .up-cont .s-tit{
		margin-top: 30px;
	}
	.news-ban .bot-paging{
		display: block;
	}
	.website-ban .up-cont{
		top: 170px;
	}
	.website-ban .up-cont h4{
		font-size: 24px;
		line-height: 40px;
	}
	.website-ban .up-cont .s-tit{
		font-size: 16px;
		line-height: 26px;
	}
	.website-ban .up-cont .link-box{
		margin-top: 50px;
	}
	.interact-wrap .fir-wrap .left-wrap,.interact-wrap .fir-wrap .right-cont{
		width: 90%;
		padding: 30px 5%;
		margin: 0;
	}
	.interact-ban .up-cont .line{
		margin-top: 16px;
	}
	.interact-ban .up-cont .link-box{
		margin-top: 40px;
	}
	.interact-ban .up-cont h4{
		font-size: 28px;
		line-height: 40px;
	}
	.interact-ban .up-cont .link-box{
		margin-top: 20px;
	}
	.team-wrap .fir-wrap .list-wrap li .en-tit{
		font-size: 18px;
	}
	.team-wrap .fir-wrap .list-wrap li .word{
		margin-top: 22px;
	}
	.body-wrap .w1520{
		width: 100%;
	}
	.news-wrap .w1520{
		width: 90%;
	}
	.i-eig-wrap .list-wrap ul{
		width: 107.3%;
	}
	.i-eig-wrap .list-wrap li{
		/*margin-right: 12px;*/
		width: 26%;
		margin-right: 7.3%;
		min-height: 40px;
		margin-bottom: 20px;
	}
	.i-eig-wrap .tit-box .more{
		/*background: none;*/
		display: none;
	}
	.medium-wrap .fir-wrap .left-cont{
		padding-bottom: 20px;
	}
	.medium-wrap .fir-wrap .tit{
		font-size: 20px;
	}
	.medium-wrap .fir-wrap .word{
		margin-top: 22px;
	}
	.medium-wrap .fir-wrap .left-cont,.medium-wrap .bot-news-med .left-cont{
		width: 90%;
		padding: 30px 5%;
		min-height: 10px;
	}
	.medium-wrap .fir-wrap .right-img,.medium-wrap .bot-news-med .img-box{
		width: 100%;
	}
	.bigdata-wrap .sec-wrap .tit{
		margin-top: 12px;
	}
	.bigdata-wrap .sec-wrap li{
		width: 100%;
	}
	.bigdata-wrap .sec-wrap .font{
		height: auto;
	}
	.bigdata-wrap .sec-wrap .cont-box{
		width: 90%;
		padding: 30px 5%;
		min-height: 10px;
	}
	.about-wrap{
		padding-top: 0;
	}
	.public-list .top-nav{
		padding-top: 18px;
	}
	.public-list .top-share{
		/*top: 16px;*/
		display: none;
	}
	.about-home{
		padding-top: 0;
	}
	.about-home .thi-wrap .num-list .num{
		font-size: 60px;
	}
	.i-eig-wrap .tit-box .more{
		margin-top: 5px;
	}
	.i-thi-wrap .mobile-scroll ul{
		width: 100%;
	}
	.i-thi-wrap .mobile-scroll li{
		margin-right: 0;
	}
	.i-thi-wrap{
		padding-top: 32px;
	}
	.i-fou-wrap .cont-wrap{
		width: 86%;
		margin-left: 7%;
	}
	.culture-wrap .fir-list li.even-li .cont-wrap{
		border: 1px solid #eee;
	}
	.culture-wrap .sec-list .tit-box{
		padding-bottom: 38px;
	}
	.news-recommend-list .cont-wrap .tit a{
		height: auto;
	}
	.i-column-wrap .link{
		margin-top: 30px;
	}
	.i-thi-wrap .list-wrap .cont-wrap{
		padding: 20px 6.4% 0;
	}
	.bigdata-wrap{
		padding-top: 0;
	}
	.history-wrap .cent-line-box{
		left: 0;
	}
	.history-wrap .cent-wrap li{
		width: 94%;
		padding-left: 6%;
	}
	.history-wrap .cent-wrap li .img{
		display: none;
	}
	.history-wrap .cent-wrap li .point{
		left: 0;
	}
	.history-wrap .cent-wrap li:nth-child(odd) .cont-box,.history-wrap .cent-wrap li:nth-child(even) .cont-box{
		text-align: left;
	}
	.history-wrap .cent-wrap li:nth-child(even) .cont-box{
		float: left;
	}
	.history-wrap .cent-line-box .point-h{
		background: none;
	}
	.history-wrap .cent-wrap li .cont-box{
		width: 96%;
	}
	.history-wrap .cent-wrap li:nth-child(odd) .cont-box{
		margin-left: 0;
	}
	.history-wrap .cent-wrap li:nth-child(even) .cont-box{
		width: 96%;
		margin-right: 0;
	}
	.history-wrap .cent-wrap li{
		opacity: 1;
	}
	.history-wrap .cent-wrap li .point i{
		display: inline-block;
	}
	.about-wrap .thi-wrap .row-box .up-cont .font, .about-wrap .fiv-wrap .row-box .up-cont .font{
		display: none;
	}
	.about-wrap .thi-wrap .row-box .up-cont .stit, .about-wrap .fiv-wrap .row-box .up-cont .stit{
		font-size: 16px;
		line-height: 20px;
	}
	.about-wrap .thi-wrap .row-box:hover .up-cont, .about-wrap .fiv-wrap .row-box:hover .up-cont {
    bottom: 10px;
}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	footer{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	footer .top-wrap .nav,footer .top-wrap .call{
		width: 100%;
	}
	footer .top-wrap .call{
		margin-top: 10px;
	}
	footer .top-wrap{
		padding-bottom: 20px;
	}
	footer .bot-wrap{
		line-height: 36px;
	}
	.contact-wrap .address{
		width: 100%;
	}
	.i-thi-wrap .mobile-scroll{
		padding-bottom: 30px;
	}
	.i-thi-wrap .nav-box .left-link span,.i-thi-wrap .nav-box .left-link a.type-link{
		margin-bottom: 5px;
		margin-right: 2px;
	}
	.i-m-ban li .word p{
		height: auto;
		font-size: 22px;
		line-height: 32px;
	}
	.i-m-ban li .cent-cont{
		margin-top: -180px;
	}
	header, header.fixed{
		height: 60px;
	}
	header.fixed .header-main{
		padding-top: 12px;
	}
	header .header-main{
		padding-top: 12px;
		padding-bottom: 12px;
	}
	header .logo img,header.fixed .header-main .logo img{
		height: 34px;
	}
	header .m-btn{
		margin-top: 0px;
		padding: 8px;
	}
	.ins-ban .up-cont h4{
		line-height: 50px;
		font-size: 26px;
	}
	.ins-ban .up-cont .line{
		width: 20px;
		height: 2px;
		margin-top: 5px;
	}
	.website-ban .up-cont .line{
		margin-top: 20px;
	}
	.public-list .list-wrap ul{
		width: 100%;
	}
	.public-list .list-wrap li{
		width: 100%;
		margin-right: 0;
	}
	.adsuper-wrap .fir-wrap .left-wrap{
		width: 90%;
		padding: 20px 5%;
	}
	.adsuper-wrap .fir-wrap .right-cont{
		padding: 30px 5% 40px;
		width: 90%;
		margin-left: 0;
	}
	.adsuper-wrap .sec-wrap .cont-wrap .tit{
		font-size: 26px;
		line-height: 38px;
	}
	.wechat-info-ban .up-cont h4{
		font-size: 24px;
		line-height: 40px;
	}
	.wechat-info-ban .up-cont .line{
		height: 2px;
		width: 30px;
	}
	.wechat-info-ban .up-cont .font{
		font-size: 16px;
		margin-top: 18px;
	}
	.bot-paging{
		bottom: 10px;
	}
	.society-info .fir-wrap .link-box{
		margin-top: 40px;
	}
	.news-wrap .list-wrap .boxs{
		width: 100%;
	}
	.news-wrap .top-tit .year-list{
		width: 100%;
	}
	.news-wrap .top-tit .search-box{
		float: left;
	}
	.search-alert .cent-form .tex{
		padding-left: 10px;
		text-align: left;
		background: none;
		font-size: 20px;
	}
	.search-alert .cent-form .sub-butn{
		font-size: 22px;
		color: #777;
	}
	.about-home .thi-wrap .left-wrap{
		width: 100%;
	}
	.about-home .thi-wrap .right-pic{
		width: 100%;
		margin-top: 20px;
	}
	.about-home .thi-wrap{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.news-recommend-more .list-wrap{
		margin-top: 40px;
	}
	.news-recommend-list.m-scroll{
		padding-bottom: 20px;
	}
	.about-ban .cent-cont,.about-ban .num-top{
		display: none;
	}
	.about-ban .top-tit h4{
		font-size: 20px;
		line-height: 30px;
	}
	.about-ban .top-tit .tit,.about-ban .top-tit .date{
		font-size: 14px;
		line-height: 24px;
	}
	.culture-wrap .sec-list .cont-wrap .num-list .num-box .num{
		font-size: 64px;
	}
	.culture-wrap .sec-list .cont-wrap .num-list .num-box .stt{
		font-size: 14px;
		line-height: 30px;
		bottom: 20px;
		width: 40px;
	}
	.team-wrap .fir-wrap .list-wrap li.num-cont .cent-font{
		margin-top: -82px;
	}
	.team-wrap .fir-wrap .list-wrap li.num-cont .cent-font .num{
		font-size: 32px;
		line-height: 38px;
	}
	.team-wrap .fir-wrap .list-wrap li.num-cont .cent-font .line{
		margin: 12px auto 15px;
	}
	.team-wrap .fir-wrap .list-wrap li .word{
		display: none;
	}
	.team-wrap .fir-wrap .list-wrap li .en-tit{
		font-size: 16px;
		line-height: 20px;
	}
	.team-wrap .fir-wrap .list-wrap li .cn-tit{
		font-size: 14px;
		line-height: 18px;
		margin-top: 7px;
	}
	.team-wrap .fir-wrap .list-wrap li.num-cont .cent-font{
		margin-top: -70px;
	}
	.team-wrap .fir-wrap .list-wrap li.num-cont .cent-font .num{
		font-size: 26px;
		line-height: 30px;
	}
	.team-wrap .sec-wrap .row-box .flex-control-nav{
		height: 10px;
		bottom: 15px;
	}
	.about-wrap .fir-wrap .left-cont .stit{
		line-height: 32px;
	}
	.society-wrap .main-column .cont-wrap .stit{
		font-size: 22px;
	}
	.society-wrap .main-column .cont-wrap .mtit{
		font-size: 16px;
	}
	.i-column-wrap .font{
		font-size: 12px;
	}
	.ins-ban .bgimg {
	    width: 600px;
	    left: 50%;
	    margin-left: -300px;
	}
	.website-ban .bgimg{
		width: 1380px;
		left: 50%;
		margin-left: -690px;
	}
	.website-ban .up-cont{
		top: 180px;
	}
	.ins-ban .up-cont{
		top: 50px;
	}
	.website-ban .up-cont{
		top: 180px;
	}
	.vr-ban .up-cont .s-tit{
		font-size: 20px;
		margin-top: 16px;
	}
	.ins-ban .up-cont .vr-logo{
		height: 30px;
		margin-bottom: 20px;
	}
	.ins-ban .up-cont .vr-logo img{
		height: 100%;
	}
	.news-info{
		padding-top: 40px;
	}
	.news-info .tit-box h4{
		font-size: 22px;
	}
	.website-ban .up-cont .s-tit{
		display: none;
	}
	.website-ban .up-cont .link-box{
		margin-top: 30px;
	}
	.website-ban .up-cont .link-box a{
		width: 100px;
		height: 32px;
		line-height: 32px;
		font-size: 12px;
	}
	.webisite-info .main-wrap{
		padding-top: 40px;
	}
	.case-info .thi-smallban{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.interact-ban .up-cont .link-box{
		margin-top: 20px;
	}
	.interact-ban .up-cont .link-box a{
		width: 90px;
		height: 32px;
		line-height: 32px;
	}
	.interact-ban .up-cont .link-box a i{
		height: 32px;
	}
	.interact-ban .up-cont .link-box a span{
		margin-left: 4px;
	}
	.i-fir-wrap .right-wrap .about-recom .stit{
		font-size: 36px;
	}
	.i-fir-wrap .right-wrap .about-recom .cont{
		height: auto;
	}
	.i-fir-wrap .right-wrap .about-recom .font{
		width: 100%;
	}
	.i-fir-wrap .right-wrap .about-recom .bot-link{
		position: relative;
		width: 100%;
		left: 0;
		margin-top: 20px;
	}
	.about-home .fir-wrap h4{
		font-size: 40px;
	}
	.about-home .sec-wrap .stit{
		font-size: 28px;
	}
	.website-info-ban .up-cont .link-ico{
		display: none;
	}
	.i-thi-wrap .nav-box .left-link .all{
		display: none;
	}
	.i-thi-wrap .nav-box .left-link .type1,.i-thi-wrap .nav-box .left-link .type2,.i-thi-wrap .nav-box .left-link .type3{
		background: #f5f5f5;
		padding: 0;
		/*width: 82px;*/
		padding: 0 22px;
		text-align: center;
		line-height: 44px;
	}
	.i-thi-wrap .nav-box .left-link a.type-link{
		margin-right: 5px;
	}
	.i-thi-wrap .nav-box .left-link .type1:hover,.i-thi-wrap .nav-box .left-link .type2:hover,.i-thi-wrap .nav-box .left-link .type3:hover{
		background: #f5f5f5;
	}
	.bigdata-wrap .sec-wrap .ico{
		height: 40px;
		background-size: auto 100% !important;
	}
	.bigdata-wrap .fir-wrap .tit{
		font-size: 22px;
	}
	.bigdata-wrap .fir-wrap .stit{
		margin-top: 12px;
	}
	.i-fir-wrap .right-wrap .about-recom .cont{
		width: 88%;
		padding: 18px 6% 0;
	}
	.i-fir-wrap .left-wrap .cent-cont{
		width: 86%;
		margin-left: 7%;
	}
	.i-sec-wrap .right-cont, .i-sex-wrap .cont-wrap{
		width: 86%;
		margin-right: 7%;
	}
	.i-thi-wrap .main-wrap,.i-sev-wrap .main-wrap, .i-eig-wrap .main-wrap,footer .main-wrap, .contact-wrap .main-wrap{
		width: 88%;
	}
	.i-sev-wrap{
		padding-top: 30px;
	}
	.culture-wrap .sec-list .cont-wrap .num-list .num-box{
		height: 100px;
		padding-top: 20px;
	}
	.culture-wrap .sec-list .cont-wrap .num-list .num-box .num{
		line-height: 100px;
	}
	.culture-wrap .sec-list .cont-wrap .num-list{
		/*height: 310px;*/
		height: auto;
	}
	.culture-wrap .sec-list .cont-wrap .num-list .word{
		width: 70%;
		margin-top: 5px;
	}
	.culture-wrap .sec-list{
		padding-bottom: 80px;
		padding-top: 46px;
	}
	.culture-wrap .sec-list .tit-box{
		padding-bottom: 32px;
	}
	.future-wrap .top-main .cont-wrap .tit{
		font-size: 20px;
		line-height: 32px;
	}
	.future-wrap .top-main .cont-wrap .stt{
		font-size: 16px;
		line-height: 22px;
		margin-top: 16px;
	}
	.future-wrap .top-main .cont-wrap .cn-font{
		font-size: 12px;
		line-height: 24px;
		margin-top: 22px;
	}
	.culture-wrap .sec-list .cont-wrap .num-list li{
		padding-bottom: 40px;
		width: 100%;
	}
	.culture-wrap{
		padding-top: 26px;
	}
	.public-list .top-nav h3{
		font-size: 22px;
		line-height: 32px;
	}
	.public-list .top-nav .s-nav{
		height: 34px;
		position: relative;
		overflow: hidden;
	}
	.public-list .top-nav .s-nav li{
		margin-right: 32px;
	}
	.public-list .load-more{
		width: 150px;
		height: 50px;
		line-height: 50px;
	}
	.society-wrap .main-column li.even-li .cont-wrap, .society-wrap .main-column li.odd-li .cont-wrap{
		padding: 15px 5% 26px;
	}
	.society-wrap .main-column li .link{
		margin-top: 20px;
	}
	footer .top-wrap .nav a{
		margin-right: 30px;
	}
	footer .top-wrap .nav .line{
		display: none;
	}
	.history-wrap .tit-box h4{
		font-size: 28px;
	}
	.history-wrap{
		padding-top: 50px;
	}
	.history-wrap .cent-wrap li .year{
		font-size: 32px;
	}
}
@media (max-width: 350px) {
	.wechat-info-ban .up-cont h4{
		font-size: 18px;
		line-height: 30px;
	}
	.wechat-info-ban .up-cont .font{
		font-size: 14px;
		line-height: 24px;
	}
	.bot-paging{
		bottom: 0;
	}
	.ins-ban .up-cont{
		top: 60px;
	}
	.ins-ban .up-cont h4{
		font-size: 22px;
		line-height: 46px;
	}
	.i-thi-wrap .nav-box .left-link .type1, .i-thi-wrap .nav-box .left-link .type2, .i-thi-wrap .nav-box .left-link .type3{
		padding: 0 16px;
		line-height: 40px;
		font-size: 12px;
	}
	.i-thi-wrap .list-wrap{
		margin-top: 25px;
	}
}